.main-menu
	margin: 0 auto
	display: flex
	justify-content: space-between
	line-height: 3.9
	@media screen and (max-width: 767px)
		display: none

	&__link
		position: relative
		display: block
		text-decoration: none
		color: #fff
		font-size: 1.1em
		font-weight: 300
		text-transform: uppercase
		transition: .3s
		&:hover
			color: $main-color-dark

		@media screen and (max-width: 991px)
			font-size: .8em
		
		@media screen and (min-width: 991px)
			&--header:after
				content: ''
				position: absolute
				left: 50%
				top: 0
				display: inline-block
				width: 0
				height: 3px
				background-color: #fff
				transition: .3s
			&:hover
				&:after
					left: 0
					width: 100%
		&--fixed
			padding: 0 10px
			font-size: 1em
			line-height: 2.7
			color: #fff

		&--footer
			font-size: .85em
			text-transform: none

	&--mobile
		display: flex
		flex-direction: column
		line-height: 2

	&--fixed
		margin: 0
		padding-top: 12px
		width: 60%
		font-size: .6em
		line-height: 2
		@media screen and (max-width: 991px)
			display: none

	&--footer
		display: flex
		flex-direction: column
		line-height: 1.8

.rd-navbar-subpanel .main-menu__link--active
	color: $main-color-dark
	&:after
		content: ''
		position: absolute
		left: 0
		top: 0
		display: inline-block
		width: 100%
		height: 3px
		background-color: #fff
		transition: .3s

.rd-navbar-nav-wrap .main-menu__link--active
	color: $main-color-dark
