mixin main-menu(className, linkClass, addItem)
	+b('nav').main-menu(class=className)
		+e('a').link(href='#' class=linkClass) Кальяны
		+e('a').link(href='#' class=linkClass) Табак
		+e('a').link(href='#' class=linkClass) Электронные кальяны
		+e('a').link(href='#' class=linkClass) Электронные сигареты
		+e('a').link(href='#' class=linkClass) Жидкости
		+e('a').link(href='#' class=linkClass) Акции и распродажи
		if (addItem)
			+e('a').link(href='#')= addItem
		block
