.ui-selectmenu-menu 
	padding: 0
	margin: 0
	position: absolute
	top: 0
	left: 0
	display: none
	list-style: none


.ui-selectmenu-menu .ui-menu 
	overflow: auto
	overflow-x: hidden
	padding-bottom: 1px

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup 
	font-size: 1em
	font-weight: bold
	line-height: 1.5
	padding: 2px 0.4em
	margin: 0.5em 0 0 0
	height: auto
	border: 0

.ui-selectmenu-open 
	display: block

.ui-selectmenu-text 
	padding: 10px 10px
	display: inline-block
	vertical-align: middle
	height: 34px
	overflow: hidden
	font-size: .8em
	text-overflow: ellipsis
	background-color: $light
	cursor: pointer
	margin-right: -1px
	color: #666

.ui-selectmenu-button.ui-button 
	text-align: left
	white-space: nowrap
	width: 14em

.ui-selectmenu-icon.ui-icon 
	float: right
	margin-top: 0
	background-color: $light
	width: 20px
	height: 34px
	padding: 8px 5px
	cursor: pointer
	transition: .3s
	background-image: url('/assets/images/arrow-down.svg')
	background-size: 10px 10px
	background-repeat: no-repeat
	background-position: center

.ui-menu
	background-color: $light
	list-style: none

.ui-menu-item-wrapper
	padding: 4px 10px
	font-size: .8em
	cursor: pointer
	transition: .3s
	color: #666
	&:hover
		color: $main-color