mixin list(className, listClass, linkClass, ...items)
	ul(class=className)
		each item in items
			li(class=listClass)
				a(href='#' class=linkClass)= item

mixin list_icon(className, listClass, linkClass, ...items)
	ul(class=className)
		each item in items
			li(class=listClass)
				a(href='#' class=linkClass)= item
					+icon('arrow-down', '__icon', 10, 10)
