.pagination
	padding: 20px 0
	display: block
	list-style: none
	text-align: center

	& li
		padding: 0 10px
		display: inline-block

		& a
			font-size: .9em
			text-decoration: none
			color: #666
		
		&.active
			font-weight: 700
			color: $main-color