+b('ul').pagination
	+e('li').page
		+e('a').link.pagination__link--active(href='#') 1
	+e('li').page
		+e('a').link(href='#') 2
	+e('li').page
		+e('a').link(href='#') >
	+e('li').page
		+e('a').link(href='#') >>
