mixin edit(acc, pass, address, h1Cont, h2Cont)
	if(acc)
		+b.edit
			+e('h1').title-h1= h1Cont
			+e('hr').line
			+e('h2').title-h2= h2Cont
			+e('hr').line
			.row
				+e.wrapper
					.col-sm-3
						+e('label').label(for='input-firstname') Имя, Отчество
					.col-sm-9
						+e('input').input(id='input-firstname' type='text' placeholder='Введите ваше имя' value='Иван')
				+e.wrapper
					.col-sm-3
						+e('label').label(for='input-lastname') Фамилия
					.col-sm-9
						+e('input').input(id='input-lastname' type='text' placeholder='Введите фамилию' value='Жук')
				+e.wrapper
					.col-sm-3
						+e('label').label(for='input-email') E-mail
					.col-sm-9
						+e('input').input(id='input-email' type='email' placeholder='Введите email' value='bug@gmail.com')
				+e.wrapper
					.col-sm-3
						+e('label').label(for='input-telephone') Телефон
					.col-sm-9
						+e('input').input(id='input-telephone' type='tel' placeholder='Введите телефон' value='+74954954945')
				.col-xs-12
					+e.button-wrapper
						+e('a').button(href='#') Назад
						+e('input').submit(type='submit' value='Продолжить')
	if(pass)
		+b.edit
			+e('h1').title-h1= h1Cont
			+e('hr').line
			+e('h2').title-h2= h2Cont
			+e('hr').line
			.row
				+e.wrapper
					.col-sm-3
						+e('label').label Пароль
					.col-sm-9
						+e('input').input(id='input-password' type='password' placeholder='Пароль' value='Иван')
				+e.wrapper
					.col-sm-3
						+e('label').label Подтверждение пароля
					.col-sm-9
						+e('input').input(id='input-confirm' type='password' placeholder='Подтвердите пароль' value='Жук')
				.col-xs-12
					+e.button-wrapper
						+e('a').button(href='#') Назад
						+e('input').submit(type='submit' value='Продолжить')
	if(address)
		+b.edit
			+e('hr').line
			.row
				+e.wrapper
					.col-sm-3
						+e('label').label Контактное лицо
					.col-sm-7.col-xs-10
						+e('input').input(id='input-password' type='password' placeholder='Пароль' value='Иван')
					.col-sm-2.col-xs-2
				+e.wrapper
					.col-sm-3
						+e('label').label Адрес
					.col-sm-7.col-xs-10
						+e('input').input(id='input-confirm' type='password' placeholder='Подтвердите пароль' value='Жук')
					.col-sm-2.col-xs-2
				+e.wrapper
					.col-sm-3
						+e('label').label Город
					.col-sm-7.col-xs-10
						+e('input').input(id='input-confirm' type='password' placeholder='Подтвердите пароль' value='Жук')
					.col-sm-2.col-xs-2
				+e.wrapper
					.col-sm-3
						+e('label').label Почтовый индекс
					.col-sm-7.col-xs-10
						+e('input').input(id='input-confirm' type='password' placeholder='Подтвердите пароль' value='Жук')
					.col-sm-2.col-xs-2
				+e.wrapper
					.col-sm-3
						+e('label').label Улица
					.col-sm-7.col-xs-10
						+e('input').input(id='input-confirm' type='password' placeholder='Подтвердите пароль' value='Жук')
					.col-sm-2.col-xs-2
				+e.wrapper
					.col-sm-3
						+e('label').label Телефон
					.col-sm-7.col-xs-10
						+e('input').input(id='input-confirm' type='password' placeholder='Подтвердите пароль' value='Жук')
					.col-sm-2.col-xs-2
				.col-xs-12
					+e.button-wrapper
						+e('a').button(href='#') Назад
						+e('input').submit(type='submit' value='Продолжить')
		block
