.edit
	display: block

	&__title-h1
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-transform: uppercase
		text-align: center
		color: #666

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__title-h2
		padding-bottom: 20px
		text-align: center
		font-weight: 700
		text-align: left
		text-transform: uppercase
		color: #666
		@media screen and (max-width: 767px)
			text-align: center

	&__wrapper
		padding: 10px 0
		@include clearfix

	&__button-wrapper
		padding: 20px 0
		display: flex
		justify-content: space-between
		width: 100%

	&__label
		font-size: .9em
		line-height: 2.5
		color: #666
		
		&--required
			&:after
				content: '*'
				font-weight: 700
				color: $red-color

	&__input
		padding: 8px 20px
		width: 100%
		font-size: .8em
		letter-spacing: 1px
		background-color: $light
		border: none
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 3px $lightblue

	&__button
		padding: 11px 20px
		font-size: .9em
		line-height: 1.3
		text-decoration: none
		text-transform: uppercase
		color: #fff
		background-color: $main-color
		transition: .3s
		&:hover
			background-color: $main-color-mid

	&__submit
		padding: 10px 20px
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark