.wishlist
	display: block

	&__title
		padding-bottom: 20px
		font-size: 1.2em
		text-align: center
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__text-wrapper
		position: relative
		padding-left: 24px
		display: inline-block

	&__prop-name
		padding-bottom: 0
		font-size: .9em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #666

	&__text-center
		text-align: center

	&__img-link
		display: block

	&__img
		margin: 0 auto
		display: block
		@include size(70px)

	&__link
		padding-bottom: 4px
		display: inline-block
		font-size: .9em
		font-weight: 700
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__remove
		position: relative
		margin: 0 auto
		display: block
		@include size(20px)
		background-color: #fff
		border: none
		&:hover
			.wishlist__icon--remove
				fill: $red-color

	&__icon
		position: absolute
		top: 0
		left: 0
		transform: translateY(25%)
		fill: $main-color

		&--remove
			transition: .3s
			transform: translateY(0)

	&__button-wrapper
		padding: 40px 0 20px

	&__button
		margin-bottom: 6px
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid
		@media screen and (max-width: 479px)
			display: block
			text-align: center

		&--red
			float: right
			background-color: $red-color
			&:hover
				background-color: $red-color-dark

			@media screen and (max-width: 479px)
				float: none
				margin-top: 10px

	&__price-cell
		font-weight: 700
		text-align: center

	&__price,
	&__old-price
		padding: 0 4px
		display: inline-block
	
	&__price
		color: $red-color

	&__old-price
		text-decoration: line-through
		color: #666


	&__buy-wrapper
		text-align: center

	&__item > .table-responsive > .table > tbody > tr > td
		font-size: .9em