include ../icon/icon

+b.wishlist
	+e('p').title
		+e('span').text-wrapper Мои закладки
			+icon('like', '__icon', 20, 20)
	+e('hr').line
	+e.item
		.table-responsive
			table.table.table-bordered
				thead
					tr
						td
							+e('p').prop-name Изображение
						td
							+e('p').prop-name Название
						td
							+e('p').prop-name Наличие
						td
							+e('p').prop-name Цена за 1 ед. товара
						td(style='width: 0')
						td(style='width: 0')
				tbody
					tr
						td
							+e('a').img-link(href='#')
								+e('img').img(src='/assets/images/1_7.jpg')
						+e('td').name-field
							+e.link(href='http://livedemo00.template-help.com/opencart_62075/index.php?route=product/product&product_id=44')
								| Nut Butter Classic Peanut
						td В наличии
							
						+e('td').price-cell
							+e('span').old-price 3000р
							+e('span').price 2000р
						+e('td').buy-wrapper
							+e('button').button Купить
						td
							+e('a').remove
								+icon('basket', '__icon wishlist__icon--remove', 20, 20)
	+e.button-wrapper
		+e('a').button.wishlist__button--red(href='#') Продолжить
