.add-info
	display: block
	text-decoration: none
	&__img
		display: block
		width: 100%
		height: auto
		@media screen and (max-width: 767px)
			margin: 0 auto 20px
			width: 280px
			height: auto

	// background-color: $light
	// border: 1px solid $lightgrey
	// transition: .3s
	// &:hover
	// 	background-color: $main-color
	// 	border: 1px solid $main-color

	// 	& .add-info__icon--delivery
	// 		fill: #fff

	// 	& .add-info__title-h3
	// 		color: #fff

	// 	& .add-info__text
	// 		color: #fff

	// @media screen and (min-width: 768px) and (max-width: 1199px)
	// 	height: 231px
	// @media screen and (max-width: 767px)
	// 	height: auto

	// &__icon
	// 	margin: 0 auto
	// 	display: block
	// 	transition: .3s

	// 	&--delivery
	// 		fill: $main-color

	// &__title-h3
	// 	display: block
	// 	padding-bottom: 4px
	// 	font-size: 1.1em
	// 	font-weight: 300
	// 	letter-spacing: 1px
	// 	text-align: center
	// 	text-decoration: none
	// 	text-transform: uppercase
	// 	color: $main-color
	// 	transition: .3s

	// &__text
	// 	padding-bottom: 0
	// 	text-align: center
	// 	transition: .3s
