include ../icon/icon

.col-sm-4
	+b('a').add-info(href='#')
		+e('img').img(src='/assets/images/original_pro.jpg' alt='')
		//-+e('h3').title-h3 Оригинальная продукция от официальных производителей
		//-+icon('thumb-up', '__icon add-info__icon--delivery', 50, 50)
		//-+e('p').text Гарантия качества и сервиса
.col-sm-4
	+b('a').add-info(href='#')
		+e('img').img(src='/assets/images/payments2.jpg' alt='')
		//-+e('h3').title-h3 Разнообразные и удобные способы оплаты
		//-+icon('credit-card', '__icon add-info__icon--delivery', 50, 50)
		//-+e('p').text - банковские карты;<br>
					| - электронные деньги;<br>
					| - наличные;<br>
					| - sms-платежи<br>
.col-sm-4
	+b('a').add-info(href='#')
		+e('img').img(src='/assets/images/dostawka2.jpg' alt='')
		//- +e('h3').title-h3 Доставка товара в любую точку мира
		//-+icon('delivery', '__icon add-info__icon--delivery', 50, 50)
		//-+e('p').text Доставка по Москве в течении 3х часов
