include ../checkbox/checkbox
include ../radio/radio

mixin registration(main, checkout)
	if(main)
		+b.registration
			+e('h1').title-h1 Регистрация
			+e('hr').line
			+e('p').text Если Вы уже зарегистрированы, перейдите на страницу
				+e('a').link(href='') авторизации.
			+e('form').form
				+e('h2').title-h2 Основные данные
				.row
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-firstname') Имя, Отчество
						.col-sm-9
							+e('input').input(id='input-firstname' type='text' placeholder='Введите ваше имя' value='Иван')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-lastname') Фамилия
						.col-sm-9
							+e('input').input(id='input-lastname' type='text' placeholder='Введите фамилию' value='Жук')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-email') E-mail
						.col-sm-9
							+e('input').input(id='input-email' type='email' placeholder='Введите email' value='bug@gmail.com')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-telephone') Телефон
						.col-sm-9
							+e('input').input(id='input-telephone' type='tel' placeholder='Введите телефон' value='+74954954945')
				+e('h2').title-h2 Ваш адрес
				.row
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-firstname') Компания
						.col-sm-9
							+e('input').input(id='input-firstname' type='text' placeholder='Введите ваше имя' value='Иван')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-lastname') Адрес
						.col-sm-9
							+e('input').input(id='input-lastname' type='text' placeholder='Введите фамилию' value='Жук')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-email') Город
						.col-sm-9
							+e('input').input(id='input-email' type='email' placeholder='Введите email' value='bug@gmail.com')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-telephone') Индекс
						.col-sm-9
							+e('input').input(id='input-telephone' type='tel' placeholder='Введите телефон' value='+74954954945')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-telephone') Страна
						.col-sm-9
							+e('select').select
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация

					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-telephone') Регион/область
						.col-sm-9
							+e('select').select
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
								+e('option').option Российская Федерация
				+e('h2').title-h2 Ваш пароль
				.row
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-firstname') Пароль
						.col-sm-9
							+e('input').input(id='input-firstname' type='text' placeholder='Введите ваше имя' value='Иван')
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-lastname') Подтверждение пароля
						.col-sm-9
							+e('input').input(id='input-lastname' type='text' placeholder='Введите фамилию' value='Жук')
				+e('h2').title-h2 Рассылка новостей
				.row
					+e.wrapper
						.col-sm-3
							+e('label').label(for='input-lastname') Подписка на новости
						.col-sm-9
							+radio('Да', 'name', 'checked')
							+radio('Нет', 'name')
				+e.agreement
					+e('span').span Я прочитал
					+e('a').link(href='') Политика конфиденциальности
					+checkbox('checkbox--registration', 'checkbox__border--right', 'и согласен с условиями')
					+e('input').submit(type='submit' value='Продолжить')
		block
