.registration
	display: block
	
	&__title-h1
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-transform: uppercase
		text-align: center
		color: #000

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__link
		font-size: .9em
		font-weight: 700
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			color: $main-color
		
	&__title-h2
		margin-bottom: 6px
		padding-bottom: 10px
		text-align: center
		font-weight: 700
		text-align: left
		text-transform: uppercase
		color: #666
		border-bottom: 1px solid $lightgrey
		@media screen and (max-width: 767px)
			text-align: center

	&__wrapper
		padding: 10px 0
		@include clearfix

	&__label
		display: block
		font-size: .75em
		text-align: right
		line-height: 3
		color: #666

		&--required
			&:after
				content: '*'
				font-weight: 700
				color: $red-color

		@media screen and (max-width: 767px)
			text-align: left

	&__input
		padding: 8px 20px
		width: 100%
		font-size: .8em
		letter-spacing: 1px
		background-color: $light
		border: none
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 3px $lightblue

	&__submit
		float: right
		padding: 10px 20px
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark
		@media screen and (max-width: 767px)
			float: none
			margin: 20px auto 0
			display: block
			width: 137px

	&__span
		font-size: .9em
		color: #666

	&__agreement
		@include clearfix

	& .sbHolder
		width: 100%
		background-color: $light
	
	& .sbOptions
		width: 100%
		background-color: $light