.register
	display: block

	&__label,
	&__input
		display: block
		font-size: .85em
		color: #666

	&__label
		line-height: 2.2
		padding-bottom: 20px

	&__input
		padding: 10px 0 10px 20px
		width: 100%
		border: none
		background-color: $light
		transition: .3s

		&:focus
			box-shadow: 0 0 5px 2px $lightblue

	&__link
		margin-bottom: 20px
		display: block
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			opacity: .7

	&__submit
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark
		