+b('form').register
	+e('label').label(for='email') E-Mail
		+e('input').input(id='email' type='email' placeholder='E-Mail')
	+e('label').label(for='password') Пароль
		+e('input').input(id='password' type='password' placeholder='Пароль')
	+e('a').link(href='#') Забыли пароль?
	+e('input').submit(type='submit' value='Войти')
