.owl-carousel
	display: none
	width: auto
	-webkit-tap-highlight-color: transparent
	position: relative
	margin-left: -15px
	margin-right: -15px
	z-index: 1
	&.owl-rtl
		direction: rtl
		.owl-item
			float: right
		
	&.owl-grab
		cursor: grab
	
	&.owl-hidden
		opacity: 0
	
	&.owl-refresh .owl-item
		visibility: hidden
	
	.owl-dot
		cursor: hand
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		&s.disabled
			display: none
		
	&.owl-loaded
		display: block
	
	&.owl-loading
		opacity: 0
		display: block
	
	&.owl-drag .owl-item
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
	
	.owl-item
		position: relative
		min-height: 1px
		float: left
		-webkit-backface-visibility: hidden
		-webkit-tap-highlight-color: transparent
		-webkit-touch-callout: none
		padding: 0 15px
		img
			display: block
			width: 100%
			-webkit-transform-style: preserve-3d
			// * 	Owl Carousel - Lazy Load Plugin
			&.owl-lazy
				-webkit-transform-style: preserve-3d
				transform-style: preserve-3d
		
		.owl-lazy
			opacity: 0
			transition: opacity 400ms ease
	
	.owl-stage
		position: relative
		-ms-touch-action: pan-Y
		&:after
			content: "."
			display: block
			clear: both
			visibility: hidden
			line-height: 0
			height: 0
		
		&-outer
			position: relative
			overflow: hidden
			-webkit-transform: translate3d(0px, 0px, 0px)
	
	.animated
		-webkit-animation-duration: 1000ms
		animation-duration: 1000ms
		-webkit-animation-fill-mode: both
		animation-fill-mode: both
	
	.owl-animated-in
		z-index: 0
	
	.owl-animated-out
		z-index: 1
	
	.fadeOut
		-webkit-animation-name: fadeOut
		animation-name: fadeOut
	
	.owl-video-wrapper
		position: relative
		height: 100%
		background: #000000
	
	.owl-video-play-icon
		position: absolute
		height: 80px
		width: 80px
		left: 50%
		top: 50%
		margin-left: -40px
		margin-top: -40px
		background: url("owl.video.play.png") no-repeat
		cursor: pointer
		z-index: 1
		-webkit-backface-visibility: hidden
		transition: transform 100ms ease
		&:hover
			-webkit-transform: scale(1.3, 1.3)
			-ms-transform: scale(1.3, 1.3)
			transform: scale(1.3, 1.3)
	
	.owl-video-playing .owl-video-play-icon
		display: none
	
	.owl-video-tn
		opacity: 0
		height: 100%
		background-position: center center
		background-repeat: no-repeat
		background-size: contain
		transition: opacity 400ms ease
	
	.owl-video-frame
		position: relative
		z-index: 1
		height: 100%
		width: 100%
	
.no-js .owl-carousel
	display: block


@-webkit-keyframes fadeOut
	0% 
		opacity: 1

	100%
		opacity: 0

@keyframes fadeOut
	0% 
		opacity: 1

.owl-height
	transition: height 500ms ease-in-out

.owl-prev,
.owl-next
	position: absolute
	top: 50%
	margin-top: -18px
	@include size(36px)
	background: url('/assets/images/arrow-down.svg')
	background-color: #fff
	background-size: 12px
	background-repeat: no-repeat
	background-position: center center
	border: 1px solid $lightgrey
	transition: .3s
	cursor: pointer

.owl-prev
	left: 15px
	transform: rotate(90deg)
.owl-next
	right: 15px
	transform: rotate(-90deg)

.owl-controls
	top: 50%
	left: 50%
	margin-top: -18px
	position: absolute

.disabled
	display: none