$var1: #ffffff
$var2: #d6d6d6
$var3: #869791

.owl-theme .owl-nav
	margin-top: 10px
	text-align: center
	-webkit-tap-highlight-color: transparent
	&.disabled + .owl-dots
		margin-top: 10px
	
	[class*='owl-']
		color: $var1
		font-size: 14px
		margin: 5px
		padding: 4px 7px
		background: $var2
		display: inline-block
		cursor: pointer
		border-radius: 3px
		&:hover
			background: $var3
			color: $var1
			text-decoration: none
	
	.disabled
		opacity: 0.5
		cursor: default

.owl-theme .owl-dots
	text-align: center
	-webkit-tap-highlight-color: transparent
	.owl-dot
		display: inline-block
		zoom: 1
		*display: inline
		&.active span, .owl-theme .owl-dots .owl-dot:hover span
			background: $var3
		
		span
			width: 10px
			height: 10px
			margin: 5px 7px
			background: $var2
			display: block
			-webkit-backface-visibility: visible
			transition: opacity 200ms ease
			border-radius: 30px