include ../icon/icon

+b('ul').breadcrumbs
	+e('li').item
		+e('a').link(href='#') Главная
	+e('li').arrow
		+icon('right-arrow', '__icon', 16, 12)
	+e('li').item
		+e('a').link(href='#') Не главная
	+e('li').arrow
		+icon('right-arrow', '__icon', 16, 12)
	+e('li').item Вы тут
