.breadcrumbs
	margin-bottom: 20px
	padding: 15px 0 17px
	display: block
	list-style: none
	border: 1px solid $lightgrey
	border-left: none
	border-right: none

	&__arrow,
	&__item
		display: inline-block
		font-size: .75em
		color: $main-color
		vertical-align: middle

		& + .breadcrumbs__item
			padding-left: 10px

	&__link
		text-decoration: none
		color: $main-color

	&__arrow
		padding-left: 10px
		fill: $main-color

