include ../icon/icon

+b.order-options
	+e('h2').title-h2 Что бы вы хотели сделать дальше?
	+e('p').text Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт ниже. А также, Вы можете приблизительно узнать стоимость доставки в ваш регион.
	+e.items
		+e('h3').title-h3 
			+e('span').text-wrapper Использовать купон
				+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper
			+e('label').label(for='') Введите код купона
			+e('input').input(type='text' id='coupon' placeholder='Введите код купона')
			+e('input').button(type='button' value='Применение купона' data-loading-text='Загрузка...')
		+e('h3').title-h3 
			+e('span').text-wrapper Стоимость доставки
				+icon('arrow-down', '__icon', 10, 10)
		+e('p').text-inner Ознакомьтесь с характеристиками доставки по Москве и Области:
			| Доставка в пределах МКАД – 350 руб. Товар доставляется в течении 3-ех часов по Вашему адресу.
			| Доставка за МКАД рассчитывается менеджером после оформления заказа.
			| Самовывоз. У наших клиентов есть возможность забрать купленную продукцию самостоятельно по адресу: м. Лубянка, ул. Мясницкая, д. 10, стр. 1
		+e('h3').title-h3
			+e('span').text-wrapper Использовать подарочный сертификат
				+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper
			+e('label').label(for='') Введите код Подарочного сертификата
			+e('input').input(type='text' id='coupon' placeholder='Введите код купона')
			+e('input').button(type='button' value='Введите код Подарочного сертификата' data-loading-text='Загрузка...')