.order-options
	display: block

	&__title-h2
		padding-bottom: 20px
		font-weight: 700
		color: #666
		text-transform: uppercase

	&__title-h3
		padding: 20px
		display: block
		font-weight: 300
		text-transform: uppercase
		background-color: $light
		border: 1px solid $lightgrey

		& ~ .order-options__title-h3
			margin-top: 6px

		&:hover
			.order-options__text-wrapper
				color: $main-color

			.order-options__icon
				fill: $main-color

	&__text-wrapper
		position: relative
		padding-right: 20px
		transition: .3s
		cursor: pointer

	&__icon
		transition: .3s

	&__wrapper
		padding: 20px
		border: 1px solid $lightgrey
		border-top: none
		@include clearfix

	&__label
		display: block
		margin-bottom: 6px
		font-size: .75em

	&__input
		padding: 6px 12px
		display: inline-block
		width: 50%
		height: 36px
		font-size: .75em
		letter-spacing: 2px
		background-color: $light
		border: none
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 3px $lightblue

		@media screen and (max-width: 767px)
			margin-bottom: 20px
			width: 100%
			display: block

	&__button
		float: right
		padding: 6px 12px
		display: inline-block
		min-height: 36px
		font-size: .75em
		text-align: center
		text-transform: uppercase
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark

		@media screen and (max-width: 767px)
			display: block
			float: none
			white-space: normal

	&__text-inner
		padding: 20px
		border: 1px solid $lightgrey
		border-top: none
