.blog
	display: block

	&__wrapper
		position: relative

	&__title-h1
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000
		@media screen and (max-width: 767px)
			padding-top: 8px

	&__title-h3
		position: relative
		padding: 0 20px 23px 0
		font-size: 1em
		text-transform: uppercase
		@media screen and (max-width: 767px)
			padding: 0 20px 10px 0

		&--mt
			margin-top: 20px
			@media screen and (max-width: 767px)
				margin-top: 10px

		&--lesspad
			@media screen and (min-width: 768px) and (max-width: 991px)
				padding-bottom: 6px

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__list
		list-style: none
		padding-bottom: 6px

	&__list-item
		display: block
		background-color: $light
		transition: .3s

		& + .blog__list-item
			margin-top: 4px

		&:hover
			background-color: $main-color

			.blog__link
				color: #fff

	&__link
		padding: 14px 20px
		display: block
		font-size: .8em
		text-decoration: none
		text-transform: uppercase
		color: #666

	&__text
		&--right
			text-align: right

	&__fam-article-title
		padding-bottom: 10px
		display: block
		font-size: 1em
		text-decoration: none
		text-transform: uppercase
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__icon
		position: absolute
		top: 2px
		right: 0
		display: block
		@include size(10px)
		background-size: cover
		background-repeat: no-repeat
		
		&--plus

			background-image: url('/assets/images/plus.svg')

		&--minus
			background-image: url('/assets/images/minus.svg')

.blog__fam-article .col-sm-6
	width: 100%
	@media screen and (max-width: 784px)
		padding: 0