include ../icon/icon
include ../blog-article/blog-article
include ../search/search

+b.blog
	.row
		+e('aside').aside.col-sm-3(id='column-left')
			+e.wrapper
				+e('h3').title-h3.blog__title-h3--lesspad Категории блога
					//+icon('plus', '__icon blog__icon--plus', 10, 10)
					//+icon('minus', '__icon blog__icon--minus', 10, 10)
				+e('ul').list
					+e('li').list-item
						+e('a').link(href='#') Кальяны
					+e('li').list-item
						+e('a').link(href='#') Сигареты
					+e('li').list-item
						+e('a').link(href='#') Жидкость
					+e('li').list-item
						+e('a').link(href='#') Табак
			+e.wrapper
				+e('h3').title-h3 Поиск статьи
					//+icon('plus', '__icon blog__icon--plus', 10, 10)
					//+icon('minus', '__icon blog__icon--minus', 10, 10)
				+search('search--blog', 'search__input--blog')
			+e.wrapper
				+e('h3').title-h3 Популярные статьи
					//+icon('plus', '__icon blog__icon--plus', 10, 10)
					//+icon('minus', '__icon blog__icon--minus', 10, 10)
				+e.fam-article
					.row.mobile-carousel
						.col-sm-6
							+e('a').fam-article-title(href='#') Ссылка на популярную статью
							+e('p').fam-article-preview Thousands of people dream of having their own business and even more so be a successful entrepreneur. But what does it take to achieve success in the business industry? One of the most successful entrepreneurs feature...
						.col-sm-6
							+e('a').fam-article-title(href='#') Ссылка на популярную статью
							+e('p').fam-article-preview Thousands of people dream of having their own business and even more so be a successful entrepreneur. But what does it take to achieve success in the business industry? One of the most successful entrepreneurs feature...
						.col-sm-6
							+e('a').fam-article-title(href='#') Ссылка на популярную статью
							+e('p').fam-article-preview Thousands of people dream of having their own business and even more so be a successful entrepreneur. But what does it take to achieve success in the business industry? One of the most successful entrepreneurs feature...
						.col-sm-6
							+e('a').fam-article-title(href='#') Ссылка на популярную статью
							+e('p').fam-article-preview Thousands of people dream of having their own business and even more so be a successful entrepreneur. But what does it take to achieve success in the business industry? One of the most successful entrepreneurs feature...
		+e.content.col-sm-9(id='content')
			+e('h1').title-h1 Блог
			+e('hr').line
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()
			+blog-article()

