include ../icon/icon

+b.swiper
	.swiper-container.swiper-container-fade
		.swiper-wrapper
			.swiper-slide(style='background-image:url(/assets/images/slider-banner-1.jpg);background-size:cover')
				+e.description
					+e('a').buy(data-caption-animate='swiper-fadeInUp' href='http://ya.ru') Купить
			.swiper-slide(style='background-image:url(/assets/images/slider-banner-2.jpg);background-size:cover')
				+e.description
					+e('a').buy(data-caption-animate='swiper-fadeInUp' href='http://google.ru') Ахззааа
			.swiper-slide(style='background-image:url(/assets/images/slider-banner-1.jpg);background-size:cover')
				+e.description
					+e('a').buy(data-caption-animate='swiper-fadeInUp' href='http://poom.ru') Купить
		.swiper-button-prev
			+icon('arrow-down', '__icon swiper__icon--prev', 14, 14)
		.swiper-button-next
			+icon('arrow-down', '__icon swiper__icon--next', 14, 14)
