include ../icon/icon

+b.compare
	+e('h1').title-h1
		+e('span').text-wrapper Сравнение товаров
			+icon('compare', '__icon-title', 20, 20)
	.table-responsive
		table.table.table-bordered
			thead
				tr
					td(colspan='4')
						strong Описание
			tbody
				tr
					td Товар
					td
						+e.product-card
							+e('a').remove-btn(href='#')
								+icon('basket', '__icon', 16, 16)
							+e('img').img(src='http://livedemo00.template-help.com/opencart_62075/image/cache/catalog/products/product-1-250x250.png', alt='Chicken Noodle Soup', title='Chicken Noodle Soup')
							+e('span').price 20.00$ 
							+e('a').name(href='http://livedemo00.template-help.com/opencart_62075/index.php?route=product/product&product_id=28') Chicken Noodle Soup
							+e.rating
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
							+e('a').reviews(href='') Отзывов: 5
					td
						+e.product-card
							+e('a').remove-btn(href='#')
								+icon('basket', '__icon', 16, 16)
							+e('img').img(src='http://livedemo00.template-help.com/opencart_62075/image/cache/catalog/products/product-1-250x250.png', alt='Chicken Noodle Soup', title='Chicken Noodle Soup')
							+e('span').price 20.00$ 
							+e('a').name(href='http://livedemo00.template-help.com/opencart_62075/index.php?route=product/product&product_id=28') Chicken Noodle Soup
							+e.rating
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
							+e('a').reviews(href='') Отзывов: 5
					td
						+e.product-card
							+e('a').remove-btn(href='#')
								+icon('basket', '__icon', 16, 16)
							+e('img').img(src='http://livedemo00.template-help.com/opencart_62075/image/cache/catalog/products/product-1-250x250.png', alt='Chicken Noodle Soup', title='Chicken Noodle Soup')
							+e('span').price 20.00$ 
							+e('a').name(href='http://livedemo00.template-help.com/opencart_62075/index.php?route=product/product&product_id=28') Chicken Noodle Soup
							+e.rating
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
								+icon('star', '__icon-star', 12, 12)
							+e('a').reviews(href='') Отзывов: 5
				tr
					td Модель
					td Classic
					td Classic
					td Classic
				tr
					td Производитель
					td Foodpackaging
					td Unfi
					td Dole
				tr
					td Наличие
					td Есть на складе
					td Есть на складе
					td Есть на складе
				tr
					td Краткое описание
					td We are so passionate about tennis! Each employee from our store plays this awesome game and we do believe that there is nothing better than selling sport goods based on a personal experience. Our stor..
					td We are so passionate about tennis! Each employee from our store plays this awesome game and we do believe that there is nothing better than selling sport goods based on a personal experience. Our stor..
					td We are so passionate about tennis! Each employee from our store plays this awesome game and we do believe that there is nothing better than selling sport goods based on a personal experience. Our stor..
				tr
					td Вес
					td 3.00
					td 2.10
					td 2.00
				tr
					td Размеры (Д х Ш х В)
					td 0.00 x 0.00 x 0.00 
					td 0.00 x 0.00 x 0.00 
					td 0.00 x 0.00 x 0.00 
			thead
				tr
					td(colspan='4')
						strong Nutrition Facts
			tbody
				tr
					td Certifications
					td Low Fat
					td Low Fat
					td Low Fat
			tbody
				tr
					td Non-GMO
					td No
					td Yes
					td Yes
			tbody
				tr
					td Organic
					td No
					td Yes
					td Yes
			tbody
				tr
					td Sugar Free
					td No
					td No
					td Yes
			tbody
				tr
					td
					+e('td').buy-wrapper
						+e('button').button Купить
					+e('td').buy-wrapper
						+e('button').button Купить
					+e('td').buy-wrapper
						+e('button').button Купить
