.compare
	display: block

	&__title-h1
		padding-bottom: 20px
		text-align: center
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000

	&__text-wrapper
		position: relative
		padding-left: 24px
		display: inline-block

	&__icon-title
		position: absolute
		top: 0
		left: 0
		transform: translateY(-2px)
		fill: $main-color

	&__feature
		padding: 20px 0
		border-bottom: 1px solid $lightgrey

	&__button-wrapper
		text-align: right

	&__button
		margin-bottom: 6px
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid

	&__product-card
		position: relative
		padding: 6px
		min-width: 150px
		text-align: center
		border: 1px solid $lightgrey
	
	&__icon
		position: absolute
		top: 6px
		right: 6px
		transition: .3s
		fill: $main-color
		&:hover
			fill: $red-color

	&__img
		padding-bottom: 20px
		margin: 0 auto
		display: block

	&__price
		padding-bottom: 10px
		display: inline-block
		font-weight: 700
		text-align: center
		color: $red-color

	&__old-price
		padding-bottom: 10px
		display: inline-block
		font-weight: 700
		text-align: center
		text-decoration: line-through
		color: #666


	&__name
		padding-bottom: 10px
		display: block
		font-weight: 700
		text-align: center
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $main-color-mid
	
	&__rating
		padding-bottom: 10px
		display: block
		text-align: center

	&__reviews
		padding-bottom: 10px
		display: inline-block
		text-align: center
		color: #666
		transition: .3s
		&:hover
			opacity: .7

	&__buy-wrapper
		text-align: center

	& > .table-responsive
		font-size: .9em

	& > .table-responsive > .table > tbody
		border-top: none
