include ../icon/icon

+b.sort
	+e.grid-wrapper
		+e.button-wrapper
			+e('button').button(id='grid-view' title='Сетка')
			+icon('net-button', '__icon sort__icon--active', 17, 17)
		+e.button-wrapper
			+e('button').button(id='list-view' title='Список')
			+icon('list-button', '__icon', 20, 20)
	+e.choice-wrapper
		+e('label').label(for='input-sort') Сортировка:
		+e('select').choice(id='input-sort')
			+e('option').choice-option По умолчанию
			+e('option').choice-option Название (А-Я)
			+e('option').choice-option Название (Я-А)
			+e('option').choice-option Цена (низкая > высокая)
			+e('option').choice-option Цена (Высокая > низкая)
			+e('option').choice-option Рейтинг (начиная с высокого)
			+e('option').choice-option Рейтинг (начиная с низкого)
			+e('option').choice-option Модель (А-Я)
			+e('option').choice-option Модель (А-Я)
	+e.compare-wrapper
		+e('a').compare(href='#' title='Сравнение')
			+icon('compare', '__icon-compare', 20, 20)
	+e.show-wrapper
		+e('label').label Показать:
		+e('select').show
			+e('option').show-option 6
			+e('option').show-option 25
			+e('option').show-option 50
			+e('option').show-option 75
			+e('option').show-option 100