.sort
	margin: 0 0 30px
	padding: 10px 0
	background: #fff
	border-top: 1px solid $lightgrey
	border-bottom: 1px solid $lightgrey
	@include clearfix()
	@media screen and (max-width: 767px)
		padding-top: 0

	&__label
		font-size: .85em
		color: #000
		@media screen and (max-width: 767px)
			padding: 10px 0
			display: block

	&__grid-wrapper
		padding-right: 20px
		display: inline-block
		@media screen and (max-width: 767px)
			display: none

	&__button-wrapper
		position: relative
		padding: 2px
		display: inline-block
		@include size(24px)
		vertical-align: middle

		&:first-child
			margin-right: 4px

	&__button
		position: absolute
		top: 0
		left: 0
		@include size(100%)
		background-color: transparent
		border: none

	&__icon
		display: inline-block
		vertical-align: middle
		fill: $lightgrey
		transition: .3s
		
		&--active
			fill: $main-color

	&__choice-wrapper
		position: relative
		display: inline-block
		@media screen and (max-width: 767px)
			display: block

		.form-control
			display: inline-block


	&__choice
		position: relative
		width: 130px
		background-color: $light
		font-size: .8em
		border: none

	&__choice-option
		width: 130px
		background-color: $light

	&__icon-arrow
		transition: .3s
		fill: #666
		transform-origin: 50%
		&:hover
			fill: $main-color

		&--active
			transform: rotateX(180deg)

	&__compare-wrapper
		padding: 8px 10px
		display: inline-block
		height: 35px
		vertical-align: middle
		@media screen and (max-width: 767px)
			display: none

	&__compare
		display: block

	&__icon-compare
		transition: .3s
		fill: $lightgrey
		&:hover
			fill: $main-color

	&__show-wrapper
		float: right
		position: relative
		display: inline-block
		@media screen and (max-width: 767px)
			float: none
			display: block

		.form-control
			display: inline-block

	&__show
		position: relative
		width: 60px
		background-color: $light
		font-size: .8em
		border: none

	&__show-option
		width: 60px
		background-color: $lightgrey

	&__choice-wrapper .sbOptions,
	&__choice-wrapper .sbHolder
		width: 160px

	&__show-wrapper .sbOptions,
	&__show-wrapper .sbHolder
		width: 56px