include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		include ../header3/header3
		include ../content/content
		include ../footer/footer
		include ../top-button/top-button
		+scripts(['app.min.js'])
