.comment
	display: block

	&__label
		padding-bottom: 10px
		display: block
		font-size: .9em
		color: #666
	
	&__textarea
		padding: 10px
		width: 100%
		font-size: .9em
		line-height: 1.5
		color: #666
		border: 1px solid $lightgrey