.content
	margin: 0 auto
	padding: 38px 0 40px
	display: block
	@media screen and (max-width: 767px)
		padding: 15px 0 40px

	&__title-h1
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-transform: uppercase
		color: #000

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		transition: .3s
		&:hover
			background-color: $red-color-dark
