include ../checkbox/checkbox
include ../icon/icon
include ../search/search

+b('ul').filter
	+e('li').list-item
		+e('button').search Поиск
			+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper
			+search('search--filter', 'search__input--filter')
	+e('li').list-item
		+e('button').item Цена
			+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper.filter__wrapper--price
			+e('input').input-min-price(type='number' min='0' value='0')
			+e('span').symbol - Р
			+e('input').input-max-price(type='number' min='0' value='0')
			+e('span').symbol - Р
			div#price-slider
	+e('li').list-item
		+e('button').item Бренд
			+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper
			+checkbox('', '', 'pons')
			+checkbox('', '', 'shmons')
			+checkbox('', '', 'popons')
	+e('li').list-item
		+e('button').item Вкус
			+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper
			+checkbox('', '', 'Клубника')
			+checkbox('', '', 'Апельсин')
			+checkbox('', '', 'Малина')
			+checkbox('', '', 'Виноград')
	+e('li').list-item
		+e('button').item Кол-во никотина
			+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper
			+checkbox('', '', '0,5')
			+checkbox('', '', '0,7')
			+checkbox('', '', '1')
			+checkbox('', '', '1,5')
	+e('li').list-item
		+e('button').item Особенности
			+icon('arrow-down', '__icon', 10, 10)
		+e.wrapper
			+checkbox('', '', 'Клубника')
			+checkbox('', '', 'Апельсин')
			+checkbox('', '', 'Малина')
			+checkbox('', '', 'Виноград')
			+checkbox('', '', 'Клубника')
			+checkbox('', '', 'Апельсин')
			+checkbox('', '', 'Малина')
			+checkbox('', '', 'Виноград')
