.filter
	list-style: none

	&__search,
	&__item
		position: relative
		width: 100%
		font-size: .75em
		text-align: left
		text-transform: uppercase
		color: #666
		background-color: #fff
		border: none
		border-bottom: 1px solid $lightgrey
		cursor: pointer
		outline: none
		transition: .3s

	&__icon
		position: absolute
		top: 50%
		right: 0
		margin-top: -5px
		transition: .3s
		fill: #666
		@media screen and (min-width: 768px)
			&:hover
				fill: $main-color

		&--active
			transform: rotateX(180deg)

	&__search
		height: 57px
		border-top: 1px solid $lightgrey

	&__item
		height: 30px

	/*&__wrapper
		background-color: white
		max-height: 0
		overflow: hidden
		transition: .3s ease-out
		box-sizing: content-box

		&--price
			padding-right: 6px !important*/

	&__input-min-price,
	&__input-max-price
		margin-top: 10px
		padding: 5px 0
		width: 54px
		font-size: .8em
		font-weight: 700
		text-align: right
		color: $red-color
		border: none

	&__symbol
		font-size: .8em
		font-weight: 700
		text-align: center
		color: $red-color

.filter__item + .filter__item
	border-top: none