include ../icon/icon

mixin checkbox(className, className2, label, className3)
	+b.checkbox(class=className)
		+e('label').label= label
			+e('input').item(type='checkbox' class=className3)
			+e('div').border(class=className2)
			+icon('checked', '__icon', 24, 24)
