.checkbox
	position: relative
	padding: 10px 0 10px 30px
	display: block
	font-size: .75em

	&--inline
		display: inline-block
		font-size: .9em

	&--registration
		padding: 10px 30px 10px 0
		display: inline-block
		font-size: .9em
		color: #666

		& .checkbox__icon
			left: 100%
			transform: translate3d(-16px, -50%, 0)

	&__item
		position: absolute
		top: 50%
		left: 0
		display: block
		@include size(20px)
		opacity: 0
		transform: translateY(-50%)

		&--right
			left: 100%
			transform: translate3d(-20px, -50%, 0)

	&__label
		display: inline-block
		cursor: pointer
		transition: .3s

	&__border
		position: absolute
		top: 50%
		left: 0
		margin-top: -10px
		@include size(20px)
		background-color: transparent
		border: 2px solid $lightgrey
		border-radius: 6px
		opacity: 1
		cursor: pointer
		transition: .3s
		// z-index: -1

		&--right
			left: 100%
			transform: translateX(-20px)
	&__icon
		position: absolute
		top: 50%
		left: 4px
		@include size(12px)
		fill: #fff
		transform: translateY(-50%)
		transition: .3s
		opacity: 0
		cursor: pointer
		// z-index: -1

	&__item:checked ~ .checkbox__icon
		opacity: 1

	&__item:checked ~ .checkbox__border
		border: 2px solid $main-color
		background-color: $main-color

.bf-cell .checkbox__border
	top: 18px
	margin-top: -10px

.bf-cell .checkbox__icon
	top: 18px