.welcome
	position: fixed
	top: 5%
	left: 50%
	z-index: 1000
	margin: auto
	padding: 20px 20px 0
	display: none
	width: 500px
	min-width: 280px
	text-align: center
	background-color: #fff
	opacity: 1
	transition: .3s
	transform: translateX(-50%)
	@media screen and (max-width: 540px)
		top: 10px

	@media screen and (max-width: 767px)
		width: 90%

	&__text
		padding: 0 20px 10px 20px
		font-size: .9em
		text-transform: uppercase
		@media screen and (max-width: 767px)
			font-size: .75em

	&__terms
		padding: 0 20px 10px 20px
		font-size: .75em
	
	&__question
		font-size: 1.1em
		font-weight: 700
		text-transform: uppercase
		color: $red-color

	&__button-wrapper
		padding: 20px
		display: flex
		justify-content: space-between
		@media screen and (max-width: 439px)
			flex-direction: column

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		transition: .3s
		@media screen and (max-width: 767px)
			padding: 6px 12px
			font-size: .8em

		&--grey
			background-color: $red-color
			&:hover
				background-color: $red-color-dark

		&--green
			background-color: $main-color
			&:hover
				background-color: $main-color-mid

			@media screen and (max-width: 439px)
				margin-top: 10px

	&__link
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $main-color-mid

#welcome-overlay
	position: fixed
	top: 0
	left: 0
	z-index: 999
	display: none
	width: 100%
	height: 100%
	background-color: #000
	opacity: .7
