+b.warning
	+e('p').text В соответствии с Федеральным Законом Российской Федерации от 23 февраля 2013 года №15-ФЗ "Об охране здоровья граждан от воздействия окружающего табачного дыма и последствий потребления табака" для дальнейшего просмотра сайта Вам необходимо подтвердить свое совершеннолетие
	+e('span').question Вам есть 18?
	+e.button-wrapper
		+e('a').button.modal__button--grey(href='http://www.yandex.ru') Нет, мне нет 18
		+e('a').button.modal__button--green(href='#') Да, мне есть 18
	+e('p').terms Пользуясь настоящим сайтом вы принимаете 
		+e('a').link(href="#") "Условия пользовательского соглашения"
#warning-overlay