.big-banner
	position: relative
	display: block
	height: 100%
	background-size: cover
	background-position: center top
	&:hover
		.big-banner__filter
			background-color: rgba(230, 230, 230, 1)
			border: 12px solid rgba(230, 230, 230, .7)

	@media screen and (max-width: 767px)
		margin: 0 auto
		width: 262px
			
	&__filter
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border: 0px solid rgba(230, 230, 230, 0)
		opacity: .7
		transition: .3s