.subscribe
	padding-bottom: 40px
	display: block

	&__wrapper
		padding: 30px
		background-image: url('/assets/images/podpiska2.jpg')
		background-size: cover
		background-position: 0 0

	&__title-h3
		padding-bottom: 20px
		font-size: 18px
		font-weight: 700
		text-align: center
		text-transform:  uppercase
		color: #fff

	&__text
		padding-bottom: 20px
		font-size: 12px
		text-align: center
		letter-spacing: 1px
		color: #fff

	&__input-wrapper
		display: block
		text-align: center

	&__input
		margin-right: 10px
		padding: 20px 25px
		display: inline-block
		vertical-align: top
		width: 409px
		height: 54px
		font-size: 12px
		color: #666
		border: none
		@media screen and (max-width: 768px)
			margin-right: 0
			margin-bottom: 20px
			width: 100%

	&__button
		padding: 19px 26px
		display: inline-block
		vertical-align: top
		height: 54px
		text-transform: uppercase
		line-height: .5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark
