.cart
	display: block
	@include clearfix

	&__form
		padding-bottom: 20px

	&__item
		padding-bottom: 20px
		border-bottom: 1px solid $lightgrey
		@include clearfix

	&__title-h1
		padding-bottom: 20px
		text-align: center
		font-size: 1.2em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000

	&__title-h2
		padding-bottom: 20px
		text-align: center
		font-weight: 700
		text-align: left
		text-transform: uppercase
		color: #666
	
	&__img-link
		display: block
	
	&__img
		margin: 0 auto
		display: block
		@include size(70px)

	&__text-wrapper
		position: relative
		padding-left: 24px
		display: inline-block

	&__icon
		position: absolute
		top: 0
		left: 0
		transform: translateY(-2px)
		fill: $main-color

		&--remove
			transform: translateY(0)
			transition: .3s

		&--counter
			top: 50%
			left: 50%
			transform: translate3d(-6px, -6px, 0)
			transition: .3s

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__link
		padding-bottom: 4px
		display: inline-block
		font-size: .9em
		font-weight: 700
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color
	
	&__prop-name
		padding-bottom: 0
		font-size: .9em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #666
	
	&__text
		padding-bottom: 0
		font-size: .8em

	&__input-wrapper
		padding-bottom: 6px

	&__input
		padding: 4px 6px
		display: inline-block
		vertical-align: top
		width: auto
		height: 34px
		font-size: .9em
		text-align: center
		border: none
		background-color: $light
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 2px $lightblue

	&__select
		font-size: .8em
		background-color: $light
		border: none

	&__option
		font-size: .8em
		background-color: $light
		border: none

	&__price
		font-weight: 700
		text-align: center
		color: $red-color

	&__remove
		position: relative
		margin: 0 auto
		display: block
		@include size(20px)
		background-color: #fff
		border: none
		&:hover
			.cart__icon--remove
				fill: $red-color

	&__label
		font-size: .9em
		line-height: 2.2
		color: #666

	&__bold
		font-weight: 700

	&__counter
		position: relative
		display: inline-block
		@include size(34px)
		background-color: $light
		cursor: pointer
		&:hover
			.cart__icon--counter
				fill: $red-color

	&__refresh
		font-size: .9em
		font-weight: 700
		color: $main-color
		background-color: transparent
		border: none
		transition: .3s
		&:hover
			color: $red-color

	&__name-field
		min-width: 150px

	&__quantity-field
		min-width: 136px

	&__checkout-wrapper
		padding: 40px 0 40px
		display: flex
		justify-content: flex-end

		& > .table
			width: 280px
			border: 1px solid $lightgrey

			& > tbody > tr > td
				padding: 10px 15px

		& > .table > tbody> tr > td:first-child
			width: 30%
			font-weight: 700
			border-right: 1px solid $lightgrey
			border-bottom: 1px solid $lightgrey
		& > .table > tbody> tr > td:last-child
			text-align: right
			font-weight: 700
			color: $red-color
			border-bottom: 1px solid $lightgrey

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid
		@media screen and (max-width: 479px)
			display: block
			text-align: center

		&--red
			float: right
			background-color: $red-color
			&:hover
				background-color: $red-color-dark

			@media screen and (max-width: 479px)
				float: none
				margin-top: 10px
		
		&--red-nofloat
			background-color: $red-color

	&__button-wrapper
		@include clearfix

	&__button-wrapper--addpad
		padding: 14px 15px 0
		text-align: right