include ../icon/icon

+b.cart
	+e('h1').title-h1 Корзина покупок
	+e('hr').line
	+e('form').form()
		.table-responsive
			table.table.table-bordered
				thead
					tr
						td
							+e('p').prop-name Изображение
						td
							+e('p').prop-name Название
						td
							+e('p').prop-name Количество
						td
							+e('p').prop-name Цена за шт.
						td
							+e('p').prop-name Всего
						td(style='width: 0')
				tbody
					tr
						td
							+e('a').img-link(href='#')
								+e('img').img(src='/assets/images/1_7.jpg')
						+e('td').name-field
							+e.link(href='http://livedemo00.template-help.com/opencart_62075/index.php?route=product/product&product_id=44')
								| Nut Butter Classic Peanut
							small
								+e('p').text
									+e('span').bold Модель
									|: Deluxe
							small
								+e('p').text
									+e('span').bold Size
									|: Small
							small
								+e('p').text
									+e('span').bold Бонусные баллы:
									|: 2800
						+e('td').quantity-field
							+e.input-wrapper
								+e('a').counter
									+icon('plus', '__icon cart__icon--counter', 12, 12)
								+e('input').input(id='' type='text' value='1' size='1' min='0')
								+e('a').counter
									+icon('minus', '__icon cart__icon--counter', 12, 12)
							+e('button').refresh(type='submit') Обновить
						+e('td').price 68.00$
						+e('td').price 272.00$
						td
							+e('button').remove
								+icon('basket', '__icon cart__icon--remove', 20, 20)
	include ../order-options/order-options
	+e.checkout-wrapper
		table.table
			tr
				td Сумма:
				td 272.00$
			tr
				td Итого:
				td 272.00$
	+e.button-wrapper
		+e('a').button(href='#') Продолжить покупки
		+e('a').button.cart__button--red(href='#') Оформление заказа