.live-search 
	width: 280px
	position: absolute
	z-index: 1000
	transform: translateY(10px)
	padding: 5px 0px 40px
	background-color: #FFF
	left: 0
	display:none
	box-shadow: 0 0 5px #666
	font-size: .9em
	color: #666
	line-height: 1.2

.live-search .loading
	display: block
	margin-left: auto
	margin-right: auto

.live-search ul 
	list-style-type: none
	margin: 0px
	padding: 0px
	line-height: 1

.live-search ul li 
	cursor: pointer
	padding: 5px
	margin: 0px 5px
	background-color: #FFF
	height: auto
	line-height: 1.2

.live-search ul li:after 
	content: ''
	display: table
	clear: both

.live-search ul li:nth-child(even) 
	background-color: #FAFAFA

/*.live-search ul li:hover 
	background-color:rgba(103, 176, 214, .4)*/

.live-search ul li a
	text-decoration: none
	display:block
	color: #666
	clear: both

.live-search ul li .product-image
	float: left
	margin-right: 5px

.live-search ul li .product-name p
	font-weight: normal
	font-style: italic
	font-size: 10px
	color: #666
	margin: 0px
	padding: 0px

.live-search ul li .product-name
	font-weight: bold
	float: left
	width: 50%
	color: #666

.live-search ul li .product-price 
	text-align: right
	font-size: 12px
	font-weight: bold
	float: right
	margin-top: 10px
	width: 25%

.live-search ul li .product-price .price
	color: #333333
	display: block

.live-search ul li .product-price .special
	color: #FF0000
	text-decoration: line-through
	display:block


.live-search .product-price > .special 
	margin-top: -5px

.live-search .result-text
	font-weight: 300
	text-align: center
	font-size: 16px
	line-height: 2.5
	color: #555555
	background-color: #60ba62
	position: absolute
	bottom: 0
	width: 100%

.live-search .view-all-results 
	color: #fff
	text-decoration: none
	transition: .3s
	height: 40px


.live-search .view-all-results:hover
	color: #336d35
