.rd-navbar-cart-floating
	display: none

.rd-navbar-cart-toggle 
	@include toggle-icons-via-rotation(48px, 28px, $rd-navbar-contrast-color, '\e8cb', '\e5cd')
	font-family: 'Material Icons'

.rd-navbar-cart
	@extend %rd-navbar-transition
	display: none
	text-align: left
	color: $rd-navbar-default-color
	background: $rd-navbar-white-color
	box-shadow: $rd-navbar-shadow-ambient, $rd-navbar-shadow-medium
	height: 328px
	width: 100%
	@media screen and (max-width: 540px)
		height: 300px

	&-items
		list-style: none
		overflow: auto
		max-height: 100%
		height: 280px
		@media screen and (max-width: 540px)
			height: 252px

		&::-webkit-scrollbar
			width: 4px

		&::-webkit-scrollbar-thumb
			background: $rd-navbar-default-color

	.rd-navbar-cart-item
		&__preview
			border-radius: 0
		
	.rd-navbar-cart-item
		position: relative
		@include clearfix
		&__left, &__body, &__remove
			position: relative
			display: table-cell
	
		&__left
			padding: 0 16px
			img
				max-width: none

		&__body
			vertical-align: middle
			width: 100%

		&__title
			font-size: 16px
			font-weight: 700
			line-height: 1

		&__link
			text-decoration: none
			color: #666

		&__counter
			display: inline-block
			font-size: .8em
			line-height: 1.3
			color: #666

		&__amount
			float: right
			display: inline-block
			font-size: .9em
			font-weight: 700
			line-height: 1.3
			color: $red-color
		
		&__remove
			vertical-align: middle
			width: 56px
			font-size: 24px
			padding: 0 16px
			cursor: pointer

		&__total
			padding: 10px 16px 28px
			display: inline-block
			font-size: 1em
			font-weight: 700
			color: #000
			
			&--red
				float: right
				text-align: right
				color: $red-color

		&:after
			content: ''
			position: absolute
			bottom: 0
			right: 0
			left: 88px
			display: block
			height: 1px
			background: rgba($rd-navbar-default-color, .2)

.rd-navbar-static
	.rd-navbar-cart-wrap
		position: relative
		float: right
		margin-top: 12px
		margin-left: 20px
	
	.rd-navbar-cart-floating
		display: block
		height: 20px

		.rd-navbar-cart-buy
			display: none
		
	.rd-navbar-cart
		display: block
		position: absolute
		width: 320px
		top: 100%
		right: 0
		visibility: hidden
		opacity: 0
		@include transform(translateY(30px))
		z-index: 2

		&.active
			visibility: visible
			opacity: 1
			@include transform(translateY(0))

	.rd-navbar-cart-buy
		@extend %rd-navbar-transition
		position: relative
		display: block
		font-size: 16px
		font-weight: 500
		line-height: 2.5
		text-align: center
		text-decoration: none
		color: #fff
		background-color: $main-color
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.25)
		&:hover
			background-color: $main-color-mid
		&:before
			font-weight: 400
			font-size: 24px
			display: inline-block
			vertical-align: middle
			margin-right: 8px

		&--red
			background-color: $red-color
			&:hover
				background-color: $red-color-dark
	
.rd-navbar-fixed
	.rd-navbar-cart
		display: block
		position: absolute
		width: 300px
		top: 100%
		right: 0
		visibility: hidden
		opacity: 0
		transform: translate3d(50px, 50px, 0)
		z-index: 2

		&.active
			visibility: visible
			opacity: 1
			transform: translate3d(50px, 60px, 0)		

		.rd-navbar-cart-buy
			position: relative;
			display: block;
			font-size: 16px;
			font-weight: 500;
			line-height: 2.5;
			text-align: center;
			color: #fff;
			background-color: $main-color
			transition: .3s
			text-decoration: none
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.25)
			&:hover
				background-color: $main-color-mid

			&--red
				background-color: $red-color
				&:hover
					background-color: $red-color-dark


	.rd-navbar-cart-wrap
		position: fixed
		top: 0
		right: 56px

	.rd-navbar-cart-floating
		padding-top: 14px
		display: block
		@extend %rd-navbar-transition
		position: fixed
		top: 4px
		right: 4px
		z-index: 20
		color: #FFF
		overflow: hidden
		width: 42px
		height: 56px
		outline: 1px solid transparent
		backface-visibility: hidden

		&:before
			@extend %rd-navbar-transition
			content: ''
			position: absolute
			top: 50%
			left: 50%
			width: 56px
			height: 56px
			border-radius: 50%
			//background: $rd-navbar-accent-color
			@include transform(translate(-50%, -50%))
		

		.rd-navbar-cart-buy
			@extend %rd-navbar-transition
			position: relative
			display: block
			font-size: 16px
			font-weight: 500
			line-height: 56px
			opacity: 0
			visibility: hidden

			&:before
				font-weight: 400
				font-size: 24px
				display: inline-block
				vertical-align: middle
				margin-right: 8px
			

		.rd-navbar-cart-toggle 
			position: absolute
			//top: 50%
			top: 0
			//left: 50%
			left: 50%
			width: 42px
			@include transform(translate(-50%, -50%))

			span 
				color: #FFF
				height: 56px
				line-height: 56px

		&.active
			right: 15px
			bottom: 0
			border-radius: 0
			width: 100%

			.rd-navbar-cart-buy
				@extend %rd-navbar-transition
				position: relative
				display: block
				font-size: 16px
				font-weight: 500
				line-height: 56px
				text-align: center
				color: $rd-navbar-white-color
				background: $rd-navbar-accent-color-2

				&:hover
					background: lighten($rd-navbar-accent-color-2, 5%)

				&:before
					font-weight: 400
					font-size: 24px
					display: inline-block
					vertical-align: middle
					margin-right: 8px

			&:before
				@include transform(translate(-50%, -50%) scale(20))
				//background: $rd-navbar-accent-color-2
				background-color: transparent
			

			.rd-navbar-cart-buy
				opacity: 1
				visibility: visible
			

			.rd-navbar-cart-toggle
				visibility: hidden
				opacity: 0

.rd-cart-toggler-custom
	top: 0
	right: 0
	padding: 15px
	display: inline-block
