.rd-parallax-inner
	position: relative
	overflow: hidden
	-webkit-transform: translate3d(0px, 0px, 0px)
	transform: translate3d(0px, 0px, 0px)
	clip: rect(0, auto, auto, 0)
	pointer-events: none

.rd-parallax-layer[data-type="media"]
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	height: 100%

	iframe
		width: 100%
		height: 100%

.rd-parallax-layer-holder
	pointer-events: all

.rd-parallax-layer[data-url]
	background-size: cover
	background-position: center center

.rd-parallax-swiper
	z-index: 1 !important