/*!
 * jQuery UI Slider 1.12.1
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/slider/#theming
 */
.ui-slider 
	position: relative
	text-align: left

.ui-slider .ui-slider-handle 
	position: absolute
	z-index: 2
	width: 6px
	height: 16px
	cursor: default
	-ms-touch-action: none
	touch-action: none
	background-color: $main-color

.ui-slider .ui-slider-range 
	position: absolute
	z-index: 1
	font-size: .7em
	display: block
	border: 2px solid $main-color
	background-color: $main-color
	background-position: 0 0

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range 
	filter: inherit

.ui-slider-horizontal 
	margin: 20px 0
	height: 2px
	background-color: #999
.ui-slider-horizontal .ui-slider-handle 
	top: 50%
	margin-top: -8px
	border-radius: 3px
	margin-right: 0

.ui-slider-horizontal .ui-slider-handle:last-child
	right: -6px


.ui-slider-horizontal .ui-slider-range 
	top: -1px
	height: 100%

.ui-slider-horizontal .ui-slider-range-min 
	left: 0

.ui-slider-horizontal .ui-slider-range-max 
	right: 0

.ui-slider-vertical 
	width: .8em
	height: 100px

.ui-slider-vertical .ui-slider-handle 
	left: -.3em
	margin-left: 0
	margin-bottom: -.6em

.ui-slider-vertical .ui-slider-range 
	left: 0
	width: 100%

.ui-slider-vertical .ui-slider-range-min 
	bottom: 0

.ui-slider-vertical .ui-slider-range-max 
	top: 0