/*!
 * jQuery UI Spinner 1.12.1
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/spinner/#theming
 */
.ui-spinner 
	position: relative
	display: inline-block
	overflow: hidden
	padding: 0
	vertical-align: middle

.ui-spinner-input 
	border: none
	background: none
	color: inherit
	padding: .222em 0
	margin: .2em 0
	vertical-align: middle
	margin-left: .4em
	margin-right: .4em

.ui-spinner-button 
	width: 1.6em
	height: 50%
	font-size: .5em
	padding: 0
	margin: 0
	text-align: center
	position: absolute
	cursor: default
	display: block
	overflow: hidden
	right: 0

/* more specificity required here to override default borders */
.ui-spinner a.ui-spinner-button 
	border-top-style: none
	border-bottom-style: none
	border-right-style: none

.ui-spinner-up 
	top: 0
	display: block

.ui-spinner-down 
	bottom: 0
	display: block
