include ../icon/icon

mixin search(className, modifier)
	+b('form').search(class=className)
		+e('input').input(type='text' class=modifier)
		+e('button').submit(type='button' class='button-search')
			+icon('search', '__icon', 16, 16)
		block
