.search
	position: relative
	padding: 6px 24px 6px 6px
	display: block
	width: 100%
	height: 100%
	background-color: #fff
	border: 1px solid $main-color
	transition: .3s
	@include clearfix

	&__input,
	&__submit
		display: inline-block
		border: none
		background-color: transparent

	&__input
		max-width: 100%
		height: 100%
		font-size: .75em

		&--filter
			width: 100%
			height: 30px

		&--blog
			width: 100%

		&--result
			width: 100%

	&__submit
		position: absolute
		top: 50%
		right: 4px
		margin-top: -12px
		padding: 0 4px		
		width: 24px
		height: 24px

	&--filter
		border: none
		background-color: $light

	&--blog
		margin-bottom: 20px
		background-color: $light
		border: none

	&--result
		margin-bottom: 10px
		height: 34px
		background-color: $light
		border: none
	
	&__icon
		fill: $main-color