.checkout
	display: block

	&__title-h1
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-transform: uppercase
		text-align: center
		color: #000

	&__bold
		font-weight: 700
		text-transform: uppercase

	&__forget
		padding: 30px 0 0
		display: block
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			opacity: .7

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__title-h3
		padding: 20px
		display: block
		font-weight: 300
		text-transform: uppercase
		background-color: $light
		transition: .3s

		& ~ .checkout__title-h3
			margin-top: 6px

		&:hover
			color: $main-color
	
	&__wrapper
		padding: 20px
		border: 1px solid $lightgrey

	&__inner-wrapper
		padding: 0
		@media screen and (max-width: 767px)
			padding-bottom: 20px

	&__radio-wrapper
		padding: 0

	&__label
		font-size: .9em
		line-height: 2.2
		color: #666

		&--required
			&:after	
				content: '*'
				font-weight: 700
				color:  $red-color

	&__input
		padding: 10px 0 10px 20px
		width: 100%
		font-size: .9em
		border: none
		background-color: $light
		transition: .3s

		&:focus
			box-shadow: 0 0 5px 2px $lightblue

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark

		&--right
			float: right
	
	&__prop-name
		padding-bottom: 0
		font-size: .9em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #666

	&__price
		padding: 0 10px
		text-align: center

	&__link
		padding-bottom: 4px
		display: inline-block
		font-size: .9em
		font-weight: 700
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__button-wrapper
		padding-top: 20px
		@include clearfix

	&__textarea
		margin-bottom: 20px
		padding: 10px 20px
		width: 100%
		font-size: .9em
		color: #666
		background-color: $light
		border: none
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 2px $lightblue

	&__quantity-field,
	&__model-field
		text-align: center

	&__select
		font-size: .8em
		background-color: $light
		border: none

	&__option
		font-size: .8em
		background-color: $light
		border: none

	& .table-responsive > .table > tbody > tr > td
		padding: 10px 10px
		font-size: .9em