include ../radio/radio
include ../address/address

+b.checkout
	+e('h1').title-h1 Оформление заказа
	+e('hr').line
	+e.item
		+e('h3').title-h3
			+e('span').text-wrapper Шаг 1: Способ оформления заказа
		+e.wrapper
			.row
				.col-sm-6
					+e.inner-wrapper
						+e('p').bold Новый покупатель
						+e('p').text Варианты оформления
						+radio('Регистрация', 'name2', 'checked', 'radio--checkout')
						+radio('Без регистрации', 'name2', '', 'radio--checkout')
						+e('p').text Создание учётной записи поможет делать покупки быстрее и удобнее, а так же получать скидки как постоянный покупатель.
						+e('input').button(type='submit' value='Продолжить')
				.col-sm-6
					+e.inner-wrapper
						+e('p').bold Зарегестрированный пользователь
						+e('p').text Я совершал здесь покупки ранее и регистрировался
						+e('label').label(for='email') E-Mail
							+e('input').input(id='email' type='email' placeholder='E-Mail')
						+e('label').label(for='password') Пароль
							+e('input').input(id='password' type='password' placeholder='Пароль')
						+e('input').button(type='submit' value='Продолжить')
		+e('h3').title-h3
			+e('span').text-wrapper Шаг 2: Данные о доставке
		+e.wrapper
			.row
				.col-sm-6
					+e('label').label Label
						+e('input').input
					+e('label').label Label
						+e('input').input
					+e('label').label Label
						+e('input').input
					+e('label').label Label
						+e('input').input
					+e('label').label Label
						+e('select').select Страна
							+e('option').option Страна
							+e('option').option Страна
							+e('option').option Страна
							+e('option').option Страна
							+e('option').option Страна
							+e('option').option Страна
				.col-sm-6
					+e('label').label Label
						+e('input').input
					+e('label').label Label
						+e('input').input
					+e('label').label Label
						+e('input').input
					+e('label').label Label
						+e('input').input
		+e('h3').title-h3
			+e('span').text-wrapper Шаг 3: Способ доставки
		+e.wrapper
			+radio('Курьером / уточнить адрес по телефону', 'name3', 'checked', 'radio--checkout')
			+radio('Самовывоз', 'name3', '', 'radio--checkout')
			+e('textarea').textarea
		+e('h3').title-h3
			+e('span').text-wrapper Шаг 4: Способ оплаты
		+e.wrapper
			+radio('Наличные курьеру', 'name4', 'checked', 'radio--checkout')
			+radio('Карта', 'name4', '', 'radio--checkout')
			+radio('Наличные при сымовывозе', 'name4', '', 'radio--checkout')
		+e('h3').title-h3
			+e('span').text-wrapper Шаг 5: Подтвердить заказ
		+e.wrapper
			.table-responsive
				table.table.table-bordered
					thead
						tr
							td
								+e('p').prop-name Название
							td
								+e('p').prop-name Модель
							td
								+e('p').prop-name Количество
							td
								+e('p').prop-name Цена за шт.
							td
								+e('p').prop-name Итого
					tbody
						tr
							+e('td').name-field
								+e.link(href='http://livedemo00.template-help.com/opencart_62075/index.php?route=product/product&product_id=44')
									| Nut Butter Classic Peanut
							+e('td').quantity-field 1
							+e('td').price 68.00$
							+e('td').price 272.00$
							+e('td').price 272.00$
					tfoot
						tr
							td(colspan='4' style='font-weight:700;text-align:right;')
								| Итого
							td(style='font-weight:700;text-align:center;')
								| 700
			+e.button-wrapper
				+e('input').button(type='submit' value='Подтвердить заказ' class='checkout__button--right')