extends /blocks/layout-default/layout-default
include /blocks/address/address

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	include /blocks/breadcrumbs/breadcrumbs
	+address()