extends /blocks/layout-default/layout-default
include /blocks/edit/edit

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	include /blocks/breadcrumbs/breadcrumbs
	+edit('acc', '', '', 'Учетная запись', 'Ваша учетная запись')
		