extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	include /blocks/breadcrumbs/breadcrumbs
	.row
		include /blocks/authorise/authorise