extends /blocks/layout-default/layout-default
include /blocks/registration/registration

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	include /blocks/breadcrumbs/breadcrumbs
	+registration('main')