.page
	display: block
	font-family: 'Open Sans', sans-serif
	min-width: 320px

	//&__preloader
	//	position: fixed
	//	left: 0
	//	top: 0
	//	right: 0
	//	bottom: 0
	//	background: rgba(128, 128, 128, 0.6)
	//	z-index: 1000
	//	opacity: 1
	//	transition: all 1.3s ease .3s
	//	&--fadeout
	//		z-index: -1
	//		opacity: 0
	//&__spinner
	//	position: absolute;
	//	left: 50%;
	//	top: 50%;
	//	margin-top: -69px
	//	margin-left: -69px
	//	@include size(128px)
	//	display: inline-block;
	//	background: url('/assets/images/ring-alt.svg')
	//	background-repeat: no-repeat
	//	background-position: left top
	//	background-size: cover

.list
	list-style: none
	padding: 0

h1
	font-size: 1.2em
	font-weight: 700
	color: #000

h2
	font-size: 1.1em
	font-weight: 700
	color: #666

h3, h4, h5, h6
	font-size: 1em
	font-weight: 700
	text-align: center
	color: #666

ul
	line-height: 1.5
	list-style-position: inside
	font-size: 1em
	color: #666

p
	padding-bottom: 20px
	font-size: .9em
	line-height: 1.5
	color: #666

.zoomContainer
	display: none
	@media screen and (min-width: 1199px)
		display: block

.lazy
	position: relative;
	height: 0;
	background: url('https://livedemo00.template-help.com/opencart_62075/catalog/view/theme/theme723/image/lazy-loader.gif')
	overflow: hidden;

	&-loaded
		background: none

a.agree
	color: $main-color
	text-decoration: none
	transition: .3s
	&:hover
		color: $main-color-dark

p > a
	color: $main-color
	text-decoration: none
	transition: .3s
	&:hover
		color: $main-color-dark

.payment-div
	margin: 0 auto
	max-width: 450px
	height: 232px
	@media screen and (max-width: 480px)
		width: 300px
		overflow-x: scroll
