.customer
	display: block

	&__wrapper
		padding-bottom: 20px

	&__link
		position: relative
		padding-left: 20px
		display: block
		line-height: 1.8
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			color: $main-color

		&--center
			padding-left: 0
			text-align: center

	&__inner-wrapper
		padding: 6px 0

	&__title
		position: relative
		padding: 0 0 10px 22px
		font-size: 1em
		font-weight: 700
		text-transform: uppercase
		line-height: 1
		color: #000

		&--pad
			padding: 10px 0 6px 0
			color: #666

	&__icon
		position: absolute
		top: 50%
		left: 0
		margin-top: -5px
		transform: rotate(-90deg)
		fill: $main-color

	&__title-icon
		position: absolute
		top: -2px
		left: 0
		fill: $main-color

	&__prop-name
		padding-bottom: 0
		font-size: .9em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #666

	&__order-view
		display: block
	
	&__button-wrapper
		padding-top: 20px
		@include clearfix

	&__button,
	&__submit
		padding: 10px 20px;
		display: inline-block;
		font-size: .9em;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 1.5;
		color: #fff;
		background-color: $red-color;
		border: none;
		transition: .3s;
		&:hover
			background-color: $red-color-dark

		&--right
			float: right

		&--green
			background-color: $main-color
			&:hover
				background-color: $main-color-mid

	&__icon-view
		margin: 0 auto
		display: block
		@include size(18px)
		fill: #666

	&__text-center
		text-align: center

	&__label
		display: block
		font-size: .75em
		text-align: right
		line-height: 3
		color: #666

		&--required
			&:after
				content: '*'
				font-weight: 700
				color: $red-color

		@media screen and (max-width: 767px)
			text-align: left

	&__input
		padding: 8px 20px
		width: 100%
		font-size: .8em
		letter-spacing: 1px
		background-color: $light
		border: none
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 3px $lightblue

	&__list
		list-style: none

	&__list-item
		padding: 6px 0

	&__textarea
		margin-bottom: 20px
		padding: 10px 20px
		width: 100%
		font-size: .9em
		color: #666
		background-color: $light
		border: none
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 2px $lightblue

.customer .table-responsive
	margin-bottom: 20px

.customer .table-responsive > .table > tbody > tr > td
	padding: 10px 10px
	font-size: .9em

