include ../mixins/mixins
include ../icon/icon

+b.customer
	.row
		.col-lg-4.col-md-4.col-sm-6.col-xs-12
			+e.wrapper
				+e('p').title Моя учетная запись
					+icon('user', '__title-icon', 18, 18)
				+list_icon('list', 'list__item list__item--customer', 'customer__link', 'Изменить контактную информацию', 'Изменить свой пароль', 'Изменить мои адреса', 'Посмотреть закладки')
		.col-lg-4.col-md-4.col-sm-6.col-xs-12
			+e.wrapper
				+e('p').title Мои заказы
					+icon('list', '__title-icon', 18, 18)
				+list_icon('list', 'list__item list__item--customer', 'customer__link', 'История заказов', 'Файлы для скачивания', 'Бонусные баллы', 'Запрос на возврат', 'История транзакций', 'Периодические платежи')
		.col-lg-4.col-md-4.col-sm-6.col-xs-12
			+e.wrapper
				+e('p').title Подписка
					+icon('mail', '__title-icon', 18, 18)
				+list_icon('list', 'list__item list__item--customer', 'customer__link', 'Подписаться или отказаться от рассылки новостей ')
				+e('a').order-view
					+icon('search', '__icon-view', 18, 18)