.home
	display: block

	&__wrapper
		@include clearfix

	&__small-banner-wrapper
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-content: space-between
		height: 517px
		@media (max-width: 1199px) and (min-width: 992px)
			height: 407px
		@media (max-width: 991px) and (min-width: 768px)
			height: 302px
		@media (max-width: 767px)
			justify-content: space-around
			margin-bottom: 15px
			height: 245px
			width: 100%
		@media (max-width: 621px)
			margin-bottom: 0
			flex-direction: column
			height: auto

	&__big-banner-wrapper
		height: 517px
		@media (max-width: 1199px) and (min-width: 992px)
			height: 407px
		@media (max-width: 991px) and (min-width: 768px)
			height: 302px
		@media screen and (max-width: 767px)
			margin-bottom: 15px
			
	&__small-banner-link
		position: relative
		display: block
		overflow: hidden
		text-align: center

		&:hover .home__filter
			border: 12px solid rgba(230, 230, 230, .7)
			background-color: rgba(230, 230, 230, .2)

		& + .home__small-banner-link
			margin-top: 23px

	&__small-banner-img
		width: 100%
		height: auto

	&__action
		margin-top: 70px
		@media screen and (max-width: 767px)
			margin-top: 0

	&__category
		padding-bottom: 10px
		@media screen and (max-width: 767px)
			padding-bottom: 25px
	
	&__tab
		display: block
		list-style: none
		padding-bottom: 10px

		&-content
			display: none

			&.active
				display: block

		&-caption
			padding-bottom: 10px

		&-caption li.active
			background-color: #f83c3a
			color: #fff
		
		&-item
			padding: 0 8px
			display: inline-block
			font-size: .8em
			text-transform: uppercase
			background-color: $light
			transition: .3s

			@media screen and (max-width: 540px)
				margin-bottom: 10px
				display: block

	&__tab-link
		display: block
		font-size: .8em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #666
		transition: .3s

	&__title-h3
		padding-bottom: 20px
		display: block
		font-weight: 700
		text-transform: uppercase

		&--tacent
			text-align: center

		&--addpad
			padding: 36px 0 18px
			@media screen and (max-width: 767px)
				padding: 0 0 20px

	&__last-articles
		padding-bottom: 40px
		display: block