include ../icon/icon
include ../small-banner/small-banner
include ../big-banner/big-banner
include ../product-card/product-card

+b.home
	a.error error
	a.success success
	.row
		.col-lg-6.col-md-6.col-sm-6.col-xs-12
			include ../swiper/swiper
		.col-lg-3.col-md-3.col-sm-3.col-xs-12
			+e.small-banner-wrapper
				+small-banner('/assets/images/banner-1-270x245.jpg', 'small-banner__description--top')
				+small-banner('/assets/images/banner-1-270x245.jpg', 'small-banner__description--down')
		.col-lg-3.col-md-3.col-sm-3.col-xs-12
			+e.big-banner-wrapper
				+big-banner('/assets/images/banner-3-270x517.jpg')
	.row
		.col-lg-3.col-md-3.col-sm-3.col-xs-12
			+e.action
				include ../deal/deal
				include ../deal/deal
		.col-lg-9.col-md-9.col-sm-9.col-xs-12
			+e.category
				+e('h3').title-h3 Электронные сигареты
				+e.tab
					+e('ul').tab-caption
						+e('li').tab-item(class='active') Новый
						+e('li').tab-item Старый
						+e('li').tab-item Еще новее
					+e.tab-content(class='active')
						.row.mobile-carousel
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
					+e.tab-content
						.row.mobile-carousel
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
					+e.tab-content
						.row.mobile-carousel
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			include ../limited/limited
	.row
		.col-lg-9.col-md-9.col-sm-9.col-xs-12
			+e.category
				+e('h3').title-h3 Жидкость для электронных сигарет
				+e.tab
					+e('ul').tab-caption
						+e('li').tab-item(class='active') Новый
						+e('li').tab-item Старый
						+e('li').tab-item Еще новее
					+e.tab-content(class='active')
						.row.mobile-carousel
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
					+e.tab-content
						.row.mobile-carousel
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
					+e.tab-content
						.row.mobile-carousel
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
							+product-card('mult', '')
		.col-lg-3.col-md-3.col-sm-3.col-xs-12
			+e.title-h3.home__title-h3--addpad Хит продаж
			+product-card('', 'single')
			+product-card('', 'single')
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			include ../subscribe/subscribe
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			+e('h3').title-h3.home__title-h3--tacent Последние статьи
			.row.mobile-carousel
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					include ../article/article
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					include ../article/article
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.row
				include ../add-info/add-info
	
