.logo
	display: block
	width: 168px
	@include clearfix
	@media screen and (max-width: 991px)
		margin: 0 auto
		padding-bottom: 20px

	&__img
		width: 168px
		height: auto

	&__link
		text-decoration: none

	&__kicker
		padding: 6px 0 0
		width: 168px
		font-size: .75em
		text-align: center
		line-height: 1
