include ../icon/icon

mixin logo(className, modifier1, modifier2)
	+b.logo(class=className)
		+e('img').img(src='/assets/images/logo.svg' alt='Логотип' class=modifier1)
		+e('p').kicker интернет-магазин недорогих кальянов в Москве 
		block
