.limited
	padding: 0 0 40px
	display: block
	width: 100%
	height: auto

	&__wrapper
		position: relative
		height: 260px
		background-size: cover
		background-position: center
	
	&__buy
		position: absolute
		left: 50%
		bottom: 20px
		padding: 13px 35px
		display: inline-block
		font-size: 18px
		text-decoration: none
		text-transform: uppercase
		color: #fff
		border: 2px solid #fff
		transition: .3s
		transform: translateX(-50%)
		&:hover
			color: #000
			background-color: #fff
