include ../icon/icon

+b.detail
	.row
		.col-sm-6.col-lg-7
			+e.wrapper
				+e.media
					.row
						.col-lg-3.hidden-xs.hidden-sm.hidden-md
							.bx-wrapper
								.bx-viewport
									+e('ul').slider(id='productGallery' data-slide-width="140" zoom-type="1")
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/1_7.jpg' data-image='/assets/images/1_7.jpg' data-zoom-image='/assets/images/1_7.jpg')
												+e('img').small-img(src='/assets/images/1_7.jpg' width='140' height='140')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/bosco_kalyan.jpg' data-image='/assets/images/bosco_kalyan.jpg' data-zoom-image='/assets/images/bosco_kalyan.jpg')
												+e('img').small-img(src='/assets/images/bosco_kalyan.jpg' width='140' height='140')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/bosco_kalyan.jpg' data-image='/assets/images/bosco_kalyan.jpg' data-zoom-image='/assets/images/bosco_kalyan.jpg')
												+e('img').small-img(src='/assets/images/bosco_kalyan.jpg' width='140' height='140')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-zoom-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg')
												+e('img').small-img(src='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' width='140' height='140')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-zoom-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg')
												+e('img').small-img(src='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' width='140' height='140')
						.col-lg-9.hidden-xs.hidden-sm.hidden-md
							+e.img-wrapper
								+e('img').big-img(id='productZoom' src='/assets/images/1_7.jpg' width='482' height='482' zoom-type="1" data-zoom-image='/assets/images/1_7.jpg')
								+e.action-wrapper
									+e('button').action-item.detail__action-item--wishlist(title='В закладки')
										+icon('like', '__icon-action', 24, 24)
									+e('button').action-item.detail__action-item--compare(title='Сравнение')
										+icon('compare', '__icon-action', 24, 24)
						.col-xs-12.hidden-lg
							.bx-wrapper
								.bx-viewport
									+e.action-wrapper
										+e('button').action-item.detail__action-item--wishlist(title='В закладки')
											+icon('like', '__icon-action', 24, 24)
										+e('button').action-item.detail__action-item--compare(title='Сравнение')
											+icon('compare', '__icon-action', 24, 24)
									+e('ul').slider(id='productFullGallery')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/1_7.jpg' data-image='/assets/images/1_7.jpg' data-zoom-image='/assets/images/1_7.jpg')
												+e('img').small-img(src='/assets/images/1_7.jpg' width='455' height='455')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/bosco_kalyan.jpg' data-image='/assets/images/bosco_kalyan.jpg' data-zoom-image='/assets/images/bosco_kalyan.jpg')
												+e('img').small-img(src='/assets/images/bosco_kalyan.jpg' width='455' height='455')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/bosco_kalyan.jpg' data-image='/assets/images/bosco_kalyan.jpg' data-zoom-image='/assets/images/bosco_kalyan.jpg')
												+e('img').small-img(src='/assets/images/bosco_kalyan.jpg' width='455' height='455')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-zoom-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg')
												+e('img').small-img(src='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' width='455' height='455')
										+e('li').slider-item
											+e('a').img-link(href='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' data-zoom-image='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg')
												+e('img').small-img(src='/assets/images/kalyan-homeshisha-hohloma-kupit-1000x1000.jpg' width='455' height='455')
		.col-sm-6.col-lg-5
			+e.wrapper
				+e('h1').title-h1 Название товара
				+e.info-wrapper
					+e('ul').list
						+e('li').list-item Производитель:
							+e('a').link.detail__link--manufacturer(href='#') Имя производителя
						+e('li').list-item Модель: Кальян
							+e('span').model
						+e('li').list-item Наличие:
							+e('span').available Есть в наличии
					+e.rating
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
						+e('span').review
							+e('a').review-link(href='#') 1 отзыв
						+e('a').add-review-link(href="#tab3") Написать отзыв
				+e.info-wrapper
					+e.options(id='product')
						+e.addition
							+e.choice-wrapper
								+e('label').label Дополнительные опции:
								+e.wrapper
									+e('label').label.detail__label--checkbox
										+e('input').checkbox(type='checkbox')
										| Дополнительный шланг
										+icon('checked', '__icon-checked', 10, 10)
									+e('label').label.detail__label--checkbox
										+e('input').checkbox(type='checkbox')
										| Дополнительный мундштук
										+icon('checked', '__icon-checked', 10, 10)
									+e('label').label.detail__label--checkbox
										+e('input').checkbox(type='checkbox')
										| Дополнительный мундштук
										+icon('checked', '__icon-checked', 10, 10)
							+e.choice-wrapper
								+e('label').label.detail__label--required(for='choice') Выбор
								+e('select').select(name='choice')
									+e('option').option ---Выберите---
									+e('option').option Выбор 1
									+e('option').option Выбор 2
									+e('option').option Выбор 3
									+e('option').option Выбор 4
							+e.choice-wrapper
								+e('label').label.detail__label--required(for='color') Цвет
								+e.color
									+e('input').radio(type='radio' name='color' value='' id='')
									+e('label').label.detail__label--color
										+e('img').color-choice(src='/assets/images/blue-50x50.png')
								+e.color
									+e('input').radio(type='radio' name='color' value='' id='' )
									+e('label').label.detail__label--color
										+e('img').color-choice(src='/assets/images/green-50x50.png')
								+e.color
									+e('input').radio(type='radio' name='color' value='' id='' )
									+e('label').label.detail__label--color
										+e('img').color-choice(src='/assets/images/yellow-50x50.png')
							+e.choice-wrapper
								+e('label').label(for='quantity') Количество
								+e('input').quant(type='number' value='1' id='quantity' min='1')
							+e.choice-wrapper
								include ../comment/comment
							+e.choice-wrapper
								include ../date/date
							+e('span').old-price 2000р
							+e('p').price 1500р
							+e('button').buy Купить
							+e.social
								+e('a').social-link(href='#')
									+e('img').social-icon(src='/assets/images/instagram-full.svg' width='40' height='40')
								+e('a').social-link(href='#')
									+icon('vk-full', '__social-icon', 40, 40)
								+e('a').social-link(href='#')
									+icon('facebook-full', '__social-icon', 40, 40)
								+e('a').social-link(href='#')
									+icon('youtube-full', '__social-icon', 40, 40)
	+e.description
		+e('ul').tab
			+e('li').tab-item
				+e('a').tab-link(href='#tab1') Описание
			+e('li').tab-item
				+e('a').tab-link(href='#tab2') Характеристики
			+e('li').tab-item
				+e('a').tab-link(href='#tab3') Отзывы
			+e('li').tab-item
				+e('a').tab-link(href='#tab4') Видео
		+e.info(id='tab1')
			p We are so passionate about tennis! Each employee from our store plays this awesome game and we do believe that there is nothing better than selling sport goods based on a personal experience. Our store is a one-stop shopping destination for all tennis fans and professional players. We can help you choose any product considering our experience.
			p Also we provide you with tons of information on various aspects of the game because an educated purchase is the best way to build long-term relationships with the clients. It doesn’t matter what skills level in the game of tennis you have. We know how to help both rookies and seasoned veterans.
			p You’ll be surprised with the level of the customer service that we have at our store. You can always contact our wonderful support team which is available 24/7. So, don’t hesitate with your decision to visit our online store – we are sure that you’ll love it.
		+e.info(id='tab2')
			.row
				.col-xs-12
					+e('h2').title-h2.detail__title-h2--center Характеристики
				.col-sm-6.col-xs-12
					+e.feature
						span Характеристика:
						span Значение
				.col-sm-6.col-xs-12
					+e.feature
						span Характеристика
						span Значение
				.col-sm-6.col-xs-12
					+e.feature
						span Характеристика
						span Значение
				.col-sm-6.col-xs-12
					+e.feature
						span Характеристика
						span Значение
		+e.info(id='tab3')
			include ../review/review
		+e.info(id='tab4')
			+e.video-wrapper
				+e('iframe').video(src="https://www.youtube.com/embed/4h_6cae6FOw" frameborder="0" allowfullscreen)
	+e.related
		include ../related/related
