.detail
	display: block

	&__tab
		display: block
		list-style: none
		padding-bottom: 10px

		&-content
			display: none

			&.active
				display: block

		&-caption
			padding-bottom: 10px

		&-caption li.active
			background-color: #f83c3a
			color: #fff
		
		&-item
			padding: 0 8px
			display: inline-block
			font-size: .8em
			text-transform: uppercase
			background-color: $light
			transition: .3s

	&__media
		display: block
		padding-bottom: 20px

	&__choice-wrapper
		padding-bottom: 15px
		display: block

	&__small-img
		width: 100%
		height: auto

	&__big-img
		width: 100%
		max-width: 482px
		background: none

	&__title-h1
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-transform: uppercase
		color: #000

	&__title
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-transform: uppercase
		color: #000

	&__title-h3
		padding-bottom: 20px
		font-size: 1em
		font-weight: 700
		color: #666
		text-align: left
		text-transform: uppercase
		@media screen and (max-width: 767px)
			text-align: center

	&__img-wrapper
		position: relative

	&__name
		padding-bottom: 10px
		font-weight: 700

	&__action-wrapper
		position: absolute
		right: 15px
		bottom: 15px
		z-index: 10

	&__action-item
		padding: 10px
		display: block
		line-height: .8
		background-color: $main-color
		border: none
		transition: .3s
		&--wishlist
			margin-bottom: 4px
		&:hover
			background-color: $main-color-mid

	&__icon-action
		fill: #fff

	&__list,
	&__slider
		list-style: none

		&-item
			padding-bottom: 10px
			font-size: .9em
			color: #666

	&__social
		padding-bottom: 20px

	&__social-link
		margin-right: 4px
		display: inline-block
		text-decoration: none

	&__link--manufacturer
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__available
		font-weight: 700
		color: green

	&__rating
		padding-bottom: 14px

	&__review-link
		padding: 0 10px
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			color: $main-color

	&__add-review-link
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__label
		display: inline-block
		padding: 0 10px 10px 0
		font-size: .9em
		color: #666

		&--required:after
			content: '*'
			font-weight: 700
			color: $red-color

		&--checkbox
			position: relative
			padding-left: 20px
			cursor: pointer

		&--color
			position: relative
			padding: 0
			@include size(24px)
			&:after
				content: ''
				position: absolute
				top: -3px
				left: -3px
				@include size(26px)
				border: 2px solid #fff
				border-radius: 50%
				transition: .3s

	&__color
		position: relative
		display: inline-block
		@include size(24px)
		vertical-align: middle

		& + .detail__color
			margin-left: 8px

	&__price
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		color: $red-color

	&__old-price
		padding-bottom: 20px
		font-size: 1em
		font-weight: 700
		text-decoration: line-through
		color: #666
	
	&__buy
		margin-right: 10px;
		margin-bottom: 20px
		padding: 15px 25px
		vertical-align: top
		font-size: 1em
		font-weight: 300
		text-transform: uppercase
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid

	&__social-icon
		@include size(40px)
		transition: .3s
		&:hover
			transform: translate3d(0, -10px, 0)

	&__checkbox
		position: absolute
		top: 0
		left: 0
		display: inline-block
		@include size(16px)
		background-color: transparent
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			@include size(16px)
			background-color: $light
			opacity: 1
		
	&__icon-checked
		position: absolute
		top: 3px
		left: 3px
		transition: .3s
		visibility: hidden
		opacity: 0
		fill: $main-color

	&__select
		position: relative
		width: 170px
		height: 34px
		font-size: .8em
		background-color: $light
		border: none

	&__option
		width: 170px
		background-color: $light

	&__radio
		position: absolute
		top: 0
		left: 0
		z-index: 1
		@include size(24px)
		opacity: 0
		cursor: pointer
		
	&__color-choice
		position: absolute
		top: 0
		left: 0
		@include size(24px)
		border-radius: 50%

	&__quant
		padding-left: 6px
		width: 42px
		height: 30px
		font-size: .8em
		color: #666
		background-color: $light
		border: none
		transition: .3s

	&__description
		padding-bottom: 20px

	&__tab
		list-style: none
		padding-bottom: 20px

		&-item
			padding: 0 8px
			display: inline-block
			background-color: $light
			transition: .3s
			& + .detail__tab-item
				margin-left: 4px
			
			@media screen and (max-width: 540px)
				margin-bottom: 10px
				display: block
				& + .detail__tab-item
					margin-left: 0

	&__tab-link
		display: block
		font-size: .8em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #666
		transition: .3s

	&__feature
		margin-bottom: 20px
		padding: 30px 30px
		color: #666
		background-color: $light

	&__video-wrapper
		position: relative
		padding-bottom: 56.25%

	&__video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	&__choice-wrapper > .sbHolder,
	&__choice-wrapper .sbOptions
		width: 200px

	&__icon--prev
		transform: rotate(-180deg)
		@media screen and (max-width: 1199px)
			transform: rotate(360deg)
	
	&__icon--next
		@media screen and (max-width: 1199px)
			transform: rotate(-180deg)

	&__icon--prev,
	&__icon--next
		transition: .3s
		&:hover
			fill: $main-color

	&__icon-star
		fill: #000
		&--gold
			fill: gold
	

.detail__checkbox:checked ~ .detail__icon-checked
	visibility: visible
	opacity: 1

.detail__radio:checked ~ .detail__label--color:after
	border: 2px solid $main-color

.ui-tabs-active
	background-color: $red-color

.ui-tabs-active .detail__tab-link
	color: #fff