include ../product-card/product-card

+b.categories
	+e('h1').title-h1.categories__title-h1--left Название категории
	+e('hr').line
	.row
		+e('h2').title-h2.title-h2--left.col-xs-12 Выберите подкатегорию:
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
		.col-lg-3.col-md-3.col-sm-4.col-xs-6
			+e('a').sub-category(href='#')
				//- +e('div').filter
				+e('img').img(src='/assets/images/photo.jpg' alt='Текст' width='250' height='250')
				+e('p').name Электронные одноразовые сигареты Luxlite
	.row
		aside.aside.col-sm-3
			+e.wrapper
				include ../filter/filter
		.products.col-sm-9(id='content')
			+e.wrapper
				include ../sort/sort
				.row
					+product-card('mult', '')
					+product-card('mult', '')
					+product-card('mult', '')
					+product-card('mult', '')
					+product-card('mult', '')
					+product-card('mult', '')
				+e.button-wrapper
					+e('button').button Загрузить еще 6 продуктов
	include ../pagination/pagination
	include ../description/description