.categories
	display: block

	&__sub-category
		position: relative
		margin: 0 auto
		padding: 10px 0
		display: block
		max-width: 240px
		text-decoration: none
		transition: .3s
		color: #666
		@include clearfix
		@media screen and (min-width: 539px)
			&:hover
				color: $main-color

			&:hover .categories__name
				color: $main-color
		/*@media screen and (max-width: 767px)
			margin: 0 auto
			width: 240px*/

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__title-h1
		padding-bottom: 20px
		text-align: center
		font-size: 1.2em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000

		&--left
			text-align: left

	&__title-h2
		padding-bottom: 20px
		text-align: center
		font-size: 1em
		font-weight: 700
		text-align: left
		text-transform: uppercase
		color: #666

		&--left
			text-align: left

	/*&__filter
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: transparent
		border: 1px solid rgba(230, 230, 230, 0)
		transition: .3s
		&:hover
			border: 12px solid rgba(230, 230, 230, .7)
			background-color: rgba(230, 230, 230, .2)*/

	&__img
		display: block
		width: 100%
		height: auto
		@media screen and (max-width: 539px)
			float: left
			margin-right: 10px
			@include size(70px)

	&__name
		margin: 0 auto
		padding: 6px 0 12px
		width: 90%
		text-align: center
		text-decoration: none
		color: #666
		transition: .3s
		height: 60px
		@media screen and (max-width: 539px)
			text-align: left

	&__button-wrapper
		padding-bottom: 40px
		text-align: center

		&--taright
			text-align: right

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark

	& .col-xs-6
		@media screen and (max-width: 539px)
			width: 100%