+b.article
	+e('a').img-wrapper
		+e('img').img(src='/assets/images/post-10-570x316.jpg')
		+e('div').filter
	+e.date November 28, 2016
	+e('a').link-title(href='#') The best restaurant for healthy eating in London
	+e('p').preview Whether you’re dieting, detoxing, in training or just generally trying to look after yourself, there’s no reason to stop eating out. Being just a little careful when ordering can make a meal out almost as virtuous as one at home — you just need to know where to ...
	+e('a').btn(href='') Читать дальше

