.article
	padding-bottom: 40px
	display: block

	&__img-wrapper
		position: relative
		margin-bottom: 30px
		display: block
		overflow: hidden
		cursor: pointer
		&:hover	
			.article__filter
				border: 12px solid rgba(230, 230, 230, .7)
				background-color: rgba(230, 230, 230, .2)

	&__img
		display: block
		width: 100%
		height: auto
	
	&__filter
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: transparent
		border: 1px solid rgba(230, 230, 230, 0)
		transition: .3s

	&__date
		padding-bottom: 20px
		font-size: .9em
		text-transform: uppercase
		color: $red-color

	&__link-title
		padding-bottom: 20px
		display: block
		font-size: 1.2em
		text-decoration: none
		text-transform: uppercase
		letter-spacing: 1px
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__btn
		padding: 10px 20px
		display: inline-block
		text-transform: uppercase
		text-decoration: none
		line-height: 1.5
		color: #fff
		background-color: $main-color
		transition: .3s
		&:hover
			background-color: $main-color-mid