.not-found
	padding: 30px 0 50px
	display: flex
	flex-direction: row
	justify-content: center
	@media screen and (max-width: 767px)
		align-items: center
		flex-direction: column

	&__img-wrapper
		position: relative
		padding-bottom: 36%
		display: inline-block
		width: 30%
		height: 0
		@media screen and (max-width: 767px)
			width: 50%
			padding-bottom: 61%

	&__img
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: auto

	&__text-wrapper
		padding-left: 20px
		display: inline-block
		width: 50%
		vertical-align: top
		text-align: left
		@media screen and (max-width: 767px)
			width: 100%


	&__text
		font-size: 1.2em
		letter-spacing: -1px
		@media screen and (max-width: 767px)
			font-size: 1em
			text-align: center
		
		&--big
			font-size: 10em
			font-weight: 700		
			line-height: 1
			color: #000
			@media screen and (max-width: 767px)
				font-size: 5em

