+b.not-found
	+e.img-wrapper
		+e('img').img(src='/assets/images/404+.png')
	+e.text-wrapper
		+e('p').text.not-found__text--big 404
		+e('p').text Кальян угольками лениво мерцает,<br>
			| Опьяняюще сладкая шиша дымит,<br>
			| Грусть-тревога в груди замирает,<br>
			| В воздухе звон мелодичный стоит.

		+e('p').text А то, что вы искали перенесли в другой раздел. Ищите в разделах каталога
			| или воспользуйтесь поиском.