include ../logo/logo
include ../search/search
include ../icon/icon
include ../main-menu/main-menu

+b('header').header
	+e.wrapper-fixed
		.container
			+e.top-wrapper
				+e('button').mobile-button.header__mobile-button--fixed
					+e('span').mobile-button-item-1
					+e('span').mobile-button-item-2
					+e('span').mobile-button-item-3
				+logo('logo--fixed', 'logo__img--fixed', 'logo__kicker--fixed')
				+main-menu('main-menu--fixed')
				+e('button').cart.header__cart--fixed
					+icon('cart', '__icon', 16, 16)
					+e('div').number(class='header__number--red') 0
				+e('p').phone.header__phone--fixed +7 (465) 125-11-24
				+e.mobile-menu
					+main-menu('main-menu--mobile', '', 'Контакты')
	+e.top
		.container
			.row
				.col-lg-5.col-md-4.col-sm-12.col-xs-12
					+logo
				.col-lg-7.col-md-8.col-sm-12.col-xs-12
					+e.wrapper
						+e('button').search
							+icon('search', '__icon', 16, 16)
						+e('a').login(href='')
							+icon('user', '__icon', 16, 16)
							+e('span').text Вход
						+e('a').wishlist(href='#')
							+icon('like', '__icon', 16, 16)
							+e('div').number(class='header__number--red') 0
						+e('button').cart
							+icon('cart', '__icon', 16, 16)
							+e('div').number(class='header__number--green') 0
						+e('p').working-time c 9:00 до 20:00<br>без выходных
						+e('p').phone +7 (465) 125-11-24
						+e.search-wrapper
							+search()
					+e.wrapper
						ul.list.list--header
							li.list-item.list-item--header
								+e('a').link(href='#') Доставка и оплата
							li.list-item.list-item--header
								+e('a').link(href='#') Оплата online
							li.list-item.list-item--header
								+e('a').link(href='#') Гарантии
							li.list-item.list-item--header
								+e('a').link(href='#') Отзывы
							li.list-item.list-item--header
								+e('a').link(href='#') Полезные советы
							li.list-item.list-item--header
								+e('a').link(href='#') Контакты
	+e.menu-wrapper
		.container
			+main-menu('','main-menu__link--header','')
			+e('button').mobile-button
				+e('span').mobile-button-item-1
				+e('span').mobile-button-item-2
				+e('span').mobile-button-item-3
			+e.mobile-menu
				+main-menu('main-menu--mobile', '', 'Контакты')
