.header
	margin: 0 auto
	padding-top: 36px
	display: block
	width: 100%



//	&__mobile-button
//		padding: 8px
//		display: none
//		width: 44px
//		height: 49px
//		background-color: transparent
//		border: none
//		@media screen and (max-width: 767px)
//			display: block
//
//		&--fixed
//			display: none
//			height: 42px
//			background-color: transparent
//			border: none
//			@media screen and (max-width: 991px)
//				display: block
//
//		&-item-1,
//		&-item-2,
//		&-item-3
//			display: block
//			height: 4px
//			background-color: #fff
//			border-radius: 3px
//			transition: .3s
//			transform-origin: 0%
//
//		&-item-2,
//		&-item-3
//			margin-top: 4px
//
//		&-item-1--active
//			width: 23px
//			transform: rotate(45deg)
//
//		&-item-2--active
//			opacity: 0
//
//		&-item-3--active
//			width: 23px
//			transform: rotate(-45deg)
//	
//	&__mobile-menu
//		position: absolute
//		top: 39px
//		left: 0
//		z-index: 1000
//		padding: 0 0 10px 23px
//		width: 220px
//		background-color: $main-color
//		transition: .3s
//		transform: translate3d(-100%, 0, 0)
//		
//		&--active
//			transform: translate3d(0, 0, 0)
//
//	&__wrapper-fixed
//		position: fixed
//		top: 0
//		left: 0
//		z-index: 10
//		width: 100%
//		height: 42px
//		background-color: $main-color
//		box-shadow: 0 2px 5px #999
//		transition: .3s
//		transform: translate3d(0, -50px, 0)
//
//		&--open
//			transform: translate3d(0, 0, 0)
	
	

.list--header
	padding-top: 10px
	display: flex
	justify-content: space-between
	width: 100%

.list-item--header + .list-item--header
	padding-left: 14px
	border-left: 1px solid #666
	@media screen and (max-width)

	@media screen and (max-width: 1199px)
		padding-left: 10px

	@media screen and (max-width: 991px)
		padding-left: 0
		border-left: none