// Color variables
$var1: #dddddd
$var2: #f5f5f5

.table
	width: 100%
	max-width: 100%
	margin-bottom: 20px
	&-hover > tbody > tr.active:hover > th
		background-color: #e8e8e8
	
	&-responsive
		overflow-x: auto
		min-height: 0.01%
		border: 1px solid $lightgrey
		& > .table
			margin-bottom: 0
			&-bordered
				border: 1px solid $lightgrey

				& > tfoot > tr > td:first-child
					border-left: 0
				
				& > tfoot > tr > td:last-child
					border-right: 0
				
				& > tfoot > tr:last-child > td
					border-bottom: 0
			
			& > tbody > tr > td
				padding: 15px 10px 15px
				border: none
				border-right: 1px solid $lightgrey
				border-bottom: 1px solid $lightgrey

				&:last-child
					border-bottom: 1px solid $lightgrey

			& > tfoot > tr > td
				white-space: nowrap

	&-striped > tbody > tr:nth-of-type(odd)
		background-color: #f9f9f9
	
	&-hover > tbody > tr.success:hover > th
		background-color: #d0e9c6
	
	&-hover > tbody > tr.warning:hover > th
		background-color: #faf2cc
	
	&-condensed > tfoot > tr > td
		padding: 5px
	
	&-hover > tbody > tr:hover
		background-color: $var2
	
	& > tfoot > tr > td
		padding: 8px
		line-height: 1.42857143
		vertical-align: top
		border-top: 1px solid $var1
	
	&-hover > tbody > tr.info:hover > th
		background-color: #c4e3f3
	
	&-bordered
		border: 1px solid $var1
		& > tfoot > tr > td
			border: 1px solid $var1
		
		& > thead > tr > td
			padding: 15px 10px 15px
			background-color: $light
			border-bottom-width: 2px
			border-bottom: 1px solid $lightgrey
			border-left: 1px solid $lightgrey
	
	&-hover > tbody > tr.danger:hover > th
		background-color: #ebcccc
	
	& > thead:first-child > tr:first-child > td
		border-top: 0
	
	& > thead > tr > th
		vertical-align: bottom
		border-bottom: 2px solid $var1
	
	& > tbody + tbody
		border-top: 2px solid $var1
	
	.table
		background-color: #ffffff
	
		& > tfoot > tr.active > th
		background-color: $var2
	
		& > tfoot > tr.success > th
		background-color: #dff0d8
	
		& > tfoot > tr.info > th
		background-color: #d9edf7
	
		& > tfoot > tr.warning > th
		background-color: #fcf8e3
	
		& > tfoot > tr.danger > th
		background-color: #f2dede
	
table col[class*="col-"]
	position: static
	float: none
	display: table-column


table th[class*="col-"]
	position: static
	float: none
	display: table-cell


@media screen and (max-width: 767px)
	.table-responsive
		width: 100%
		margin-bottom: 15px
		overflow-y: hidden
		-ms-overflow-style: -ms-autohiding-scrollbar
		//border: 1px solid $var1


