.deal-timer
	position: relative
	margin: 70px auto 30px
	display: block
	width: 100%
	height: 431px
	// background-image: url('/assets/images/banner.jpg')
	// background-size: cover
	@media screen and (max-width: 1199px) and (min-width: 992px)
		height: 382px
	@media screen and (max-width: 991px) and (min-width: 768px)
		height: 327px
	@media screen and (max-width: 767px)
		margin-top: 0
		margin-bottom: 15px
		max-width: 262px

	&__timer
		position: absolute
		top: 20px
		left: 20px
		padding: 10px
		display: block
		width: 100px
		font-size: .9em
		font-weight: 700
		text-align: center
		color: #fff
		background-color: $main-color
		border-radius: 6px

	&__days
		display: block
	
	&__hours
		display: block

	&__img
		display: block
		width: 100%
		height: 100%

	&__desc
		position: absolute
		bottom: 40px
		left: 0
		padding: 20px 20px

	&__info,
	&__title-h3,
	&__buy
		font-weight: 700
		text-decoration: none
		text-transform: uppercase
		letter-spacing: 1px
		color: #fff
	
	&__info
		padding-bottom: 20px
		display: block
		font-size: .7em
	
	&__title-h3
		padding-bottom: 30px
		display: block
		font-size: 1em

	&__buy
		padding: 11px 25px
		display: inline-block
		font-weight: 300
		background-color: $main-color
		transition: .3s
		&:hover
			background-color: $main-color-mid

