+b.description
	+e('h2').title-h2 Описание категории
	.row
		.col-sm-4.col-xs-12
			+e('img').img(src='/assets/images/161970.jpg' alt='' width='250' height='250')
		.col-sm-8.col-xs-12
			+e('p').text Для получения единственного и неповторимого экземпляра, можно заказать гравировку с именем будущего хозяина изделия или с названием заведения, в котором кальян будет подаваться. Такая функция опциональна. То есть, не все производители за это берутся (чаще всего это делают местные, российские дизайнеры). У нашего консультанта требуется уточнять возможность получения единственного в своём роде кальяна с личным логотипом на модели выбранной Вами фирмы.
			+e('p').text Для получения единственного и неповторимого экземпляра, можно заказать гравировку с именем будущего хозяина изделия или с названием заведения, в котором кальян будет подаваться. Такая функция опциональна. То есть, не все производители за это берутся (чаще всего это делают местные, российские дизайнеры). У нашего консультанта требуется уточнять возможность получения единственного в своём роде кальяна с личным логотипом на модели выбранной Вами фирмы.