.description
	padding-top: 40px
	padding-bottom: 40px
	display: block

	&--nopad
		padding-top: 0
		padding-bottom: 0

	&--pbottom
		padding-top: 0
		padding-bottom: 20px

	&__title-h2
		padding-bottom: 20px
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #666

	&__img
		margin: 0 auto 30px
		display: block
		width: 100%
		max-width: 300px
		height: auto


	p
		padding-bottom: 20px
		font-size: .9em
		font-weight: 300
		color: #666
		line-height: 1.5

	ul
		line-height: 1.5
		list-style-position: inside
		font-size: .9em
		color: #666
