include ../icon/icon

+b('form').review
	+e.overall
		+e('span').note Общий рейтинг
		+e('span').note 5
		+e.rating
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
	+e.item
		+e.rating
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
			+icon('star', '__icon-star', 12, 12)
		+e('p').date 10.12.15
		+e('p').text Hi, guys! I want to thank you for my very very quick delivery and I just love my order… Your company efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!
		+e('p').author Валера
			+icon('user', '__icon-user', 16, 16)
	+e.add-review
		+e('h3').review-btn Написать отзыв
		+e.wrapper
			+e('label').label(for='input-name') Ваше имя
			+e('input').input(type='text' id='input-name')
			+e('label').label(for='input-review') Ваш отзыв
			+e('textarea').textarea(id='input-review')
			+e('p').text
				+e('span').attention Примечание:
				|  HTML разметка не поддерживается! Используйте обычный текст.
			+e('label').label(for='input-rating') Оценка
			+e('span').opinion Плохо
			+e('input').radio(type='radio' name='input-rating')
			+e('input').radio(type='radio' name='input-rating')
			+e('input').radio(type='radio' name='input-rating')
			+e('input').radio(type='radio' name='input-rating')
			+e('input').radio(type='radio' name='input-rating' checked)
			+e('span').opinion Хорошо
			+e.button-wrapper
				+e('button').send-review Отправить отзыв