.review
	display: block
	
	&__item
		margin-bottom: 20px
		padding: 24px 24px 0
		background-color: $light

	&__note
		margin-right: 4px
		display: inline-block

	&__rating
		display: inline-block
		padding-bottom: 20px

	&__date
		padding-bottom: 10px

	&__author
		position: relative
		padding-left: 20px
		text-transform: uppercase

	&__icon-user
		position: absolute
		top: 3px
		left: 0
		fill: #67b0d6
	
	&__review-btn,
	&__send-review
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		font-weight: 300
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		cursor: pointer
		&:hover
			background-color: $red-color-dark
	
	&__wrapper
		background-color: white;
		box-sizing: content-box;

	&__label
		margin-right: 10px
		padding-bottom: 4px
		display: inline-block
		font-size: .7em
		font-weight: 700
		color: #000
		&:after
			content: '*'
			font-weight: 700
			color: $red-color

	&__input,
	&__textarea
		margin-bottom: 10px
		padding: 6px 10px 6px 24px
		display: block
		font-size: .9em
		color: #666
		border: none
		background-color: $light
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 2px $lightblue

	&__input
		width: 30%
		@media screen and (max-width: 767px)
			width: 100%
	
	&__textarea
		width: 100%
		min-height: 200px
		line-height: 1.5

	&__attention
		color: $red-color

	&__radio
		margin: 0 2px
		display: inline-block
		@include size(16px)
		vertical-align: middle
		cursor: pointer

	&__button-wrapper
		padding: 20px 0
		text-align: right

	&__opinion
		font-size: .8em

	&__icon-star
		fill: #000
		&--gold
			fill: gold
