.small-banner
	position: relative
	display: block
	max-width: 270px
	cursor: pointer
	@media screen and (max-width: 620px)
		margin: 0 auto 15px
		width: 262px

	&:hover
		.small-banner__filter
			border: 12px solid rgba(230, 230, 230, .7)
			background-color: rgba(230, 230, 230, .2)

	&__img
		display: block
		width: 100%
		height: auto
		max-height: 245px

	&__description
		padding-bottom: 0
		position: absolute
		left: 9%
		width: 80%
		height: auto
		font-weight: 700
		text-transform: uppercase
		color: #fff

		&--top
			top: 19.5%

		&--down
			bottom: 19.5%

	&__text
		font-size: 1.1em

	&__filter
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: transparent
		border: 1px solid rgba(230, 230, 230, 0)
		transition: .3s
		
