.address
	display: block

	&--checkout
		display: none

	&__title
		padding-bottom: 20px
		text-align: center
		font-size: 1em
		font-weight: 700
		text-align: left
		text-transform: uppercase
		color: #000

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__wrapper,
	&__form
		padding: 20px 15px
		border: 1px solid $lightgrey

	&__inner-wrapper
		@include clearfix

	&__item
		width: 100%
		height: 300px
		background-color: pink

	&__label
		font-size: .75em
		line-height: 3.7
		color: #666
		
		&--required
			&:after
				content: '*'
				font-weight: 700
				color: $red-color

	&__input
		margin: 4px 0
		padding: 8px 20px
		width: 100%
		font-size: .8em
		letter-spacing: 1px
		background-color: $light
		border: none
		transition: .3s

	&__button-wrapper
		padding-top: 20px
		display: block
		@include clearfix
		
		&--align-right
			padding-top: 0
			text-align: right
			@media screen and (max-width: 767px)
				text-align: center

	&__edit,
	&__remove
		padding: 12px 10px
		display: inline-block
		cursor: pointer
		&:hover
			.address__icon--edit
				fill: $main-color-mid
			.address__icon--remove
				fill: $red-color

	&__icon
		transition: .3s
		fill: $main-color

	&__text
		padding-bottom: 0

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		transition: .3s
		&:hover
			background-color: $red-color-dark

		&--green
			background-color: $main-color
			&:hover
				background-color: $main-color-mid

		&--right
			float: right

	&__submit
		float: right
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid
