include ../icon/icon

mixin address(main, checkout)
	if(main)
		+b.address
			+e('p').title Список адресов доставки
			+e('hr').line
			+e.wrapper
				.row
					.col-sm-10.col-xs-12
						.row
							.col-sm-3
								+e('label').label Контактное лицо
							.col-sm-9.col-xs-12
								+e('input').input(id='input-password' value='some value')
						.row
							.col-sm-3
								+e('label').label Адрес
							.col-sm-9.col-xs-12
								+e('input').input(id='input-confirm' value='some value')
						.row
							.col-sm-3
								+e('label').label Город
							.col-sm-9.col-xs-12
								+e('input').input(id='input-confirm' value='some value')
						.row
							.col-sm-3
								+e('label').label Почтовый индекс
							.col-sm-9.col-xs-12
								+e('input').input(id='input-confirm' value='some value')
						.row
							.col-sm-3
								+e('label').label Улица
							.col-sm-9.col-xs-12
								+e('input').input(id='input-confirm' value='some value')
						.row
							.col-sm-3
								+e('label').label Телефон
							.col-sm-9.col-xs-12
								+e('input').input(id='input-confirm' value='some value')

					.col-sm-2.col-xs-12
						.row
							.col-xs-12
								+e('a').button Назад
							.col-xs-12
								+e('input').submit(type='submit' value='Подтвердить')
								//+e.button-wrapper
									+e('a').edit
										+icon('edit', '__icon address__icon--edit', 16, 16)
									+e('a').remove
										+icon('delete', '__icon address__icon--remove', 16, 16)
	else 
	if(checkout)
		+b.address(class='address--checkout')
			.row
				.col-sm-10.col-xs-12
					.row
						.col-sm-3
							+e('label').label Контактное лицо
						.col-sm-9.col-xs-12
							+e('input').input(id='input-password' value='some value')
					.row
						.col-sm-3
							+e('label').label Адрес
						.col-sm-9.col-xs-12
							+e('input').input(id='input-confirm' value='some value')
					.row
						.col-sm-3
							+e('label').label Город
						.col-sm-9.col-xs-12
							+e('input').input(id='input-confirm' value='some value')
					.row
						.col-sm-3
							+e('label').label Почтовый индекс
						.col-sm-9.col-xs-12
							+e('input').input(id='input-confirm' value='some value')
					.row
						.col-sm-3
							+e('label').label Улица
						.col-sm-9.col-xs-12
							+e('input').input(id='input-confirm' value='some value')
					.row
						.col-sm-3
							+e('label').label Телефон
						.col-sm-9.col-xs-12
							+e('input').input(id='input-confirm' value='some value')
	block
