.information
	display: block

	&__wrapper
		padding-bottom: 20px

	&__title-h1
		padding-bottom: 20px
		text-align: center
		font-size: 1.2em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000

	&__title-h2
		padding-bottom: 20px
		text-align: center
		font-size: 1.1em
		font-weight: 700
		text-align: left
		text-transform: uppercase
		color: #666

	&__title-h3
		padding-bottom: 20px
		text-align: center
		font-size: 1em
		font-weight: 700
		text-align: left
		text-transform: uppercase
		color: #666

	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__link
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $main-color-mid

		&--bold
			font-weight: 700

	&__button-wrapper
		@include clearfix

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $main-color
		transition: .3s
		&:hover
			background-color: $main-color-mid

	&__textarea
		padding: 10px
		width: 100%
		font-size: .9em
		line-height: 1.5
		color: #666
		background-color: $light
		border: none
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 2px $lightblue

	&__label
		padding-bottom: 10px
		display: block
		font-size: .75em
		text-align: right
		line-height: 2.7
		color: #666
		@media screen and (max-width: 767px)
			text-align: left

	&__input
		padding: 4px 6px
		display: inline-block
		vertical-align: top
		width: 100%
		height: 34px
		font-size: .9em
		text-align: left
		border: none
		background-color: $light
		transition: .3s
		&:focus
			box-shadow: 0 0 5px 2px $lightblue

	&__submit
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid

		&--right
			float: right
			margin-bottom: 20px

	&__next,
	&__prev
		display: inline-block
		font-size: .9em
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			color: $main-color

	&__social
		margin: 0 5px
		display: inline-block
		vertical-align: middle
		@include size(30px)
		transition: .3s

		&:hover
			transform: translateY(-10px)

	&__table-text
		font-size: .9em
		color: #666

	&__phone
		position: relative
		display: inline-block
		padding-left: 50px
		padding-bottom: 0

	&__whatsapp,
	&__viber
		position: absolute
		top: 0

	&__whatsapp
		left: 0

	&__viber
		left: 24px

	&__list
		list-style-position: inside

		&--pl
			padding-left: 20px

	p
		padding-bottom: 20px
		font-size: .9em
		font-weight: 300
		color: #666
		line-height: 1.5

	ul
		line-height: 1.5
		list-style-position: inside
		font-size: .9em
		color: #666


.information .table-responsive > .table > tbody > tr > td:last-child
	border-right: none