mixin radio(label, name, checked, className)
	if(checked)
		+b('label').radio(class= className)= label
			+e('input').item(type='radio' name= name checked)
			+e.checked
	else
		+b('label').radio(class= className)= label
			+e('input').item(type='radio' name= name)
			+e.checked
	block
