.radio
	position: relative
	padding: 10px 24px 10px 0
	display: inline-block
	font-size: .9em
	color: #666
	cursor: pointer

	&__checked
		position: absolute
		top: 50%
		right: 0
		transform: translateY(-50%)
		display: block
		@include size(20px)
		background-color: $light
		border: 2px solid $main-color
		border-radius: 50%
		transition: .3s

	&__item
		position: absolute
		top: 50%
		right: 0
		z-index: 1
		transform: translateY(-50%)
		@include size(20px)
		visibility: hidden

		&:checked ~ .radio__checked
			background-color: $main-color

	&--checkout
		padding: 10px 0 10px 24px
		display: block

		& .radio__item
			left: 0

		& .radio__checked
			left: 0

	&--customer
		padding: 10px 0 10px 24px
		display: block

		& .radio__item
			left: 0

		& .radio__checked
			left: 0