include ../mixins/mixins
include ../main-menu/main-menu
include ../icon/icon

+b('footer').footer
	+e.attention
		.container
			+e('p').attention-text Минздравсоцразвития России предупреждает: курение вредит вашему здоровью!
	.container
		.row
			.col-lg-7.col-md-7.col-sm-12.col-xs-12
				+e.wrapper
					+e('h3').title-h3 О нас
					+e('img').img(src='/assets/images/img-footer.jpg')
					+e('p').text On behalf of the Fresh Food team, I want to thank you for visiting us. We hope you love this site!
					+e('p').text Fresh Food is all about dining out as a delicious part of your healthy lifestyle - whether it is date night, family night with the kids, a business lunch, or when you’re travelling for fun or work.
			.col-lg-3.col-md-3.col-sm-4.col-xs-6
				+e.wrapper
					+e('h3').title-h3 Категории
					+main-menu('main-menu--footer','main-menu__link--footer','')
			.col-lg-2.col-md-2.col-sm-8.col-xs-6
				+e.wrapper
					+e('h3').title-h3 Часы работы
					+e('p').text Мы работаем для Вас с 9:00 до 21:00 без выходных
				+e.wrapper
					+e('p').text +7 (495) 666-66-66
					+e('p').text +7 (495) 666-66-66
					+e('p').text +7 (495) 666-66-66
		.row
			.col-lg-2.col-md-2.col-sm-3.col-xs-6
				+e.wrapper
					+e('h3').title-h3 Информация
					+list('list','list__item','footer__link','О нас','Информация о доставке','Политика конфиденциальности','Условия использования','Обратная связь','Возврат','Блог')
			.col-lg-2.col-md-2.col-sm-3.col-xs-6
				+e.wrapper
					+e('h3').title-h3 Моя учетная запись
					+list('list','list__item','footer__link','Моя учетная запись','История заказов','Закладки','Подарочные сертификаты','Партнеры','Карта сайта')
			.col-lg-3.col-md-3.col-sm-3.col-xs-12
				+e.wrapper
					+e('h3').title-h3 Обратная связь
					+e('p').text My Company Glasgow D04 800-2345-6789<br>admin@templatemonster.me<br>7 Days a week from 9:00 am to 7:00 pm
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				+e.wrapper
					+e('h3').title-h3 Другие способы покупки
					+list('list','list__item','footer__link','Найти в магазине','Подарочные карты','Найти в закладках','Каталог продуктов')
			.col-lg-2.col-md-2.col-sm-12.col-xs-6
				+e.wrapper
					+e('h3').title-h3 Поделиться
					+e('p').text Следите за эксклюзивной информацией:
					+e('a').social(href='https://www.instagram.com/shisha_premium_ru/')
						+icon('instagram-small', '__icon footer__icon--instagram', 16, 16)
					+e('a').social(href='https://www.instagram.com/shisha_premium_ru/')
						+icon('vk-small', '__icon footer__icon--vk', 24, 24)
					+e('a').social(href='https://www.instagram.com/shisha_premium_ru/')
						+icon('facebook-small', '__icon footer__icon--facebook', 16, 16)
					+e('a').social(href='https://www.instagram.com/shisha_premium_ru/')
						+icon('youtube-small', '__icon footer__icon--youtube', 22, 22)
		.row
			.col-xs-12
				+e.wrapper
					+e.phone
						+icon('whatsapp', '__icon', 24, 24)
						+icon('viber', '__icon', 24, 24)
						span +7 (926) 222-78-81