.footer
	padding: 0 0 50px
	display: block
	background-color: $main-color

	&__title-h3
		padding-bottom: 10px
		font-size: 1em
		font-weight: 300
		text-transform: uppercase
		color: #fff

	&__wrapper
		padding-bottom: 20px
		@include clearfix
		@media screen and (max-width: 767px)
			text-align: center

		&--right
			float: right
			@media screen and (max-width: 767px)
				float: none

		&--tacenter
			text-align: left
			@media screen and (max-width: 991px)
				text-align: center


	&__text
		padding-bottom: 0
		font-size: .85em
		line-height: 1.8
		color: #fff

	&__link
		display: block
		font-size: .85em
		line-height: 1.8
		text-decoration: none
		color: #fff
		transition: .3s
		&:hover
			color: $main-color-dark

	&__social-icon 
		transition: .3s
		fill: $main-color-dark

	&__social
		margin: 0 5px
		display: inline-block
		transition: .3s
		vertical-align: middle

		&:hover
			.footer__social-icon
				fill: $yellow

	&__attention-text
		padding: 16px 0 
		display: inline-block
		font-size: 1.2em
		font-weight: 300
		text-transform: uppercase
		letter-spacing: 3.9px
		color: #fff
		@media screen and (max-width: 767px)
			font-size: .9em

	&__attention
		margin-bottom: 40px
		text-align: center
		background-color: rgba(255,255,255,.2)

	&__phone-wrapper
		padding-top: 20px

	&__phone
		padding-bottom: 4px
		display: block
		font-size: 1.1em
		font-weight: 700
		line-height: 1
		// letter-spacing: 2px
		color: #fff

		&--black
			padding-bottom: 0
			font-size: 1em
			font-weight: 300
			letter-spacing: 3.8px
		
		&--small
			position: relative
			padding: 4px 0 4px 54px
			display: inline-block
			font-size: 1em
			font-weight: 300
			letter-spacing: .5px

		&-text
			padding-bottom: 0
			font-size: .6em
			text-transform: uppercase
			letter-spacing: 1.6px
			color: #fff
