.deal
	position: relative
	margin: 0 auto
	margin: 0 auto 30px
	display: block
	width: 100%
	height: 480px
	background-size: cover
	overflow: hidden
	&:hover
		.deal__filter
			border: 12px solid rgba(230, 230, 230, .7)
			background-color: rgba(230, 230, 230, .2)
	@media screen and (max-width: 1199px) and (min-width: 992px)
		height: 430px
	@media screen and (max-width: 991px) and (min-width: 768px)
		height: 375px
	@media screen and (max-width: 767px)
		margin-bottom: 15px
		max-width: 262px

	&__desc
		position: absolute
		left: 20px
		bottom: 20px
		display: block

	&__buy
		padding: 11px 25px
		display: inline-block
		font-weight: 300
		text-transform: uppercase
		color: #fff
		background-color: $main-color
		transition: .3s
		&:hover
			background-color: $main-color-mid
		&--red
			background-color: $red-color
			&:hover
				background-color: $red-color-dark


	&__filter
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: transparent
		border: 0px solid rgba(230, 230, 230, 0)
		transition: .3s
