$var1: #000000
$var2: #ffffff
$var3: #007aff
$var4: rgba(0, 0, 0, 0)
$var5: rgba(0, 0, 0, 0.5)

.swiper-container
	position: relative
	margin: 0 auto 39px
	display: block
	width: 100%
	height: 517px
	overflow: hidden
	/* Fix of Webkit flickering */
	z-index: 1
	@media (max-width: 1199px) and (min-width: 992px)
		height: 407px
	@media (max-width: 991px) and (min-width: 768px)
		height: 302px
	@media (max-width: 767px)
		margin: 0 auto 15px
		height: 399px
	@media (max-width: 480px)
		height: 272px
	&-free-mode > .swiper-wrapper
		-webkit-transition-timing-function: ease-out
		-moz-transition-timing-function: ease-out
		-ms-transition-timing-function: ease-out
		-o-transition-timing-function: ease-out
		transition-timing-function: ease-out
		margin: 0 auto

	&-vertical > .swiper-pagination-progress
		width: 4px
		height: 100%
		left: 0
		top: 0
	
	&-autoheight .swiper-slide
		height: auto
	
	&-cube .swiper-cube-shadow
		position: absolute
		left: 0
		bottom: 0px
		width: 100%
		height: 100%
		background: $var1
		opacity: 0.6
		-webkit-filter: blur(50px)
		filter: blur(50px)
		z-index: 0
	
	&-multirow > .swiper-wrapper
		-webkit-box-lines: multiple
		-moz-box-lines: multiple
		-ms-flex-wrap: wrap
		-webkit-flex-wrap: wrap
		flex-wrap: wrap
	
	&-rtl .swiper-button-prev
		right: 10px
		left: auto
	
	&-fade .swiper-slide
		pointer-events: auto
		-webkit-transition-property: opacity
		-moz-transition-property: opacity
		-o-transition-property: opacity
		transition-property: opacity
		&-active .swiper-slide-active
			pointer-events: auto
		
		.swiper-slide
			pointer-events: auto
		
	
	&-vertical > .swiper-pagination-bullets
		right: 10px
		top: 50%
		-webkit-transform: translate3d(0px, -50%, 0)
		-moz-transform: translate3d(0px, -50%, 0)
		-o-transform: translate(0px, -50%)
		-ms-transform: translate3d(0px, -50%, 0)
		transform: translate3d(0px, -50%, 0)
		.swiper-pagination-bullet
			margin: 5px 0
			display: block
		
	
	&-fade.swiper-container-free-mode .swiper-slide
		-webkit-transition-timing-function: ease-out
		-moz-transition-timing-function: ease-out
		-ms-transition-timing-function: ease-out
		-o-transition-timing-function: ease-out
		transition-timing-function: ease-out
	
	&-flip
		overflow: visible
		.swiper-wrapper
			/* Windows 8 IE 10 fix */
		-ms-perspective: 1200px
		
		.swiper-slide
			pointer-events: auto
			-webkit-backface-visibility: hidden
			-moz-backface-visibility: hidden
			-ms-backface-visibility: hidden
			backface-visibility: hidden
			z-index: 1
			&-shadow-right
				z-index: 0
				-webkit-backface-visibility: hidden
				-moz-backface-visibility: hidden
				-ms-backface-visibility: hidden
				backface-visibility: hidden
			
			&-active .swiper-slide-active
				pointer-events: auto
			
			.swiper-slide
				pointer-events: auto

	&-3d
		-webkit-perspective: 1200px
		-moz-perspective: 1200px
		-o-perspective: 1200px
		perspective: 1200px
		.swiper-cube-shadow
			-webkit-transform-style: preserve-3d
			-moz-transform-style: preserve-3d
			-ms-transform-style: preserve-3d
			transform-style: preserve-3d
		
		.swiper-slide-shadow-bottom
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			pointer-events: auto
			z-index: 10
			background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)))
			/* Safari 4+, Chrome */
			background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Chrome 10+, Safari 5.1+, iOS 5+ */
			background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Firefox 3.6-15 */
			background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Opera 11.10-12.00 */
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
		
		.swiper-slide-shadow-left
			background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)))
			/* Safari 4+, Chrome */
			background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Chrome 10+, Safari 5.1+, iOS 5+ */
			background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Firefox 3.6-15 */
			background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Opera 11.10-12.00 */
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
		
		.swiper-slide-shadow-right
			background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)))
			/* Safari 4+, Chrome */
			background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Chrome 10+, Safari 5.1+, iOS 5+ */
			background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Firefox 3.6-15 */
			background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Opera 11.10-12.00 */
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
		
		.swiper-slide-shadow-top
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)))
			/* Safari 4+, Chrome */
			background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Chrome 10+, Safari 5.1+, iOS 5+ */
			background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Firefox 3.6-15 */
			background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
			/* Opera 11.10-12.00 */
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
		
	
	&-vertical > .swiper-scrollbar
		position: absolute
		right: 3px
		top: 1%
		z-index: 50
		width: 5px
		height: 98%
	
	&-cube .swiper-slide
		visibility: hidden
		-webkit-transform-origin: 0 0
		-moz-transform-origin: 0 0
		-ms-transform-origin: 0 0
		transform-origin: 0 0
		width: 100%
		height: 100%
		&-next + .swiper-slide
			pointer-events: auto
			visibility: visible
	
	&-cube.swiper-container-rtl .swiper-slide
		-webkit-transform-origin: 100% 0
		-moz-transform-origin: 100% 0
		-ms-transform-origin: 100% 0
		transform-origin: 100% 0
	
	&-rtl .swiper-button-next
	//	background-image: url("data
		left: 10px
		right: auto
	//	&.swiper-button-black
	//	background-image: url("data
		
	//	&.swiper-button-white
	//	background-image: url("data
	
	&-no-flexbox .swiper-slide
		float: left
	
	&-horizontal > .swiper-scrollbar
		position: absolute
		left: 1%
		bottom: 3px
		z-index: 50
		height: 5px
		width: 98%
	
	&-horizontal > .swiper-pagination-bullets
		bottom: 10px
		left: 0
		width: 100%
		.swiper-pagination-bullet
			margin: 0 5px
	
	&-autoheight .swiper-wrapper
		-webkit-box-align: start
		-ms-flex-align: start
		-webkit-align-items: flex-start
		align-items: flex-start
		-webkit-transition-property: -webkit-transform, height
		-moz-transition-property: -moz-transform
		-o-transition-property: -o-transform
		-ms-transition-property: -ms-transform
		transition-property: transform, height
	
	&-rtl .swiper-pagination-progress .swiper-pagination-progressbar
		-webkit-transform-origin: right top
		-moz-transform-origin: right top
		-ms-transform-origin: right top
		-o-transform-origin: right top
		transform-origin: right top
	
	&-horizontal > .swiper-pagination-progress
		width: 100%
		height: 4px
		left: 0
		top: 0
	
	&-vertical > .swiper-wrapper
		-webkit-box-orient: vertical
		-moz-box-orient: vertical
		-ms-flex-direction: column
		-webkit-flex-direction: column
		flex-direction: column
	
	.swiper-notification
		position: absolute
		left: 0
		top: 0
		pointer-events: auto
		opacity: 0
		z-index: -1000

.swiper-wrapper
	position: relative
	width: 100%
	height: 100%
	// z-index: 1
	display: flex
	-webkit-transition-property: -webkit-transform
	-moz-transition-property: -moz-transform
	-o-transition-property: -o-transform
	-ms-transition-property: -ms-transform
	transition-property: transform
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box
	-webkit-transform: translate3d(0px, 0, 0)
	-moz-transform: translate3d(0px, 0, 0)
	-o-transform: translate(0px, 0px)
	-ms-transform: translate3d(0px, 0, 0)
	transform: translate3d(0px, 0, 0)

.swiper-slide
	position: relative
	background-size: cover
	background-repeat: no-repeat
	-webkit-flex-shrink: 0
	-ms-flex: 0 0 auto
	flex-shrink: 0
	width: 100%
	height: 100%
		
.swiper-wp8-horizontal
	-ms-touch-action: pan-y
	touch-action: pan-y

.swiper-wp8-vertical
	-ms-touch-action: pan-x
	touch-action: pan-x

/*.swiper-button-next
	position: absolute
	top: 50%
	width: 27px
	height: 44px
	margin-top: -22px
	z-index: 10
	cursor: pointer
	-moz-background-size: 27px 44px
	-webkit-background-size: 27px 44px
	background-size: 27px 44px
	background-position: center
	background-repeat: no-repeat
	&.swiper-button-disabled
		opacity: 0.35
		cursor: auto
		pointer-events: auto*/

.swiper-pagination
	position: absolute
	text-align: center
	-webkit-transition: 300ms
	-moz-transition: 300ms
	-o-transition: 300ms
	transition: 300ms
	-webkit-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	z-index: 10
	&-bullet
		width: 8px
		height: 8px
		display: inline-block
		border-radius: 100%
		background: $var1
		opacity: 0.2
		&-active
			opacity: 1
			background: $var3
	
	&-white .swiper-pagination-bullet
		background: $var2
		&-active
			background: $var2
	
	&-clickable .swiper-pagination-bullet
		cursor: pointer
	
	&-progress
		background: rgba(0, 0, 0, 0.25)
		position: absolute
		&.swiper-pagination-black .swiper-pagination-progressbar
			background: $var1
		
		&.swiper-pagination-white
			background: rgba(255, 255, 255, 0.5)
			.swiper-pagination-progressbar
				background: $var2
		
		.swiper-pagination-progressbar
			background: $var3
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			-webkit-transform: scale(0)
			-ms-transform: scale(0)
			-o-transform: scale(0)
			transform: scale(0)
			-webkit-transform-origin: left top
			-moz-transform-origin: left top
			-ms-transform-origin: left top
			-o-transform-origin: left top
			transform-origin: left top
		
	
	&.swiper-pagination-hidden
		opacity: 0
	
	&-black .swiper-pagination-bullet-active
		background: $var1
	
button.swiper-pagination-bullet
	border: none
	margin: 0
	padding: 0
	box-shadow: none
	-moz-appearance: none
	-ms-appearance: none
	-webkit-appearance: none
	appearance: none

.swiper-zoom-container
	width: 100%
	height: 100%
	display: flex
	-webkit-box-pack: center
	-moz-box-pack: center
	-ms-flex-pack: center
	-webkit-justify-content: center
	justify-content: center
	-webkit-box-align: center
	-moz-box-align: center
	-ms-flex-align: center
	-webkit-align-items: center
	align-items: center
	text-align: center
	> canvas
		max-width: 100%
		max-height: 100%
		object-fit: contain
	
.swiper-scrollbar
	border-radius: 10px
	position: relative
	-ms-touch-action: none
	background: rgba(0, 0, 0, 0.1)
	&-drag
		height: 100%
		width: 100%
		position: relative
		background: rgba(0, 0, 0, 0.5)
		border-radius: 10px
		left: 0
		top: 0
	
	&-cursor-drag
		cursor: move
	
.swiper-lazy-preloader
	width: 42px
	height: 42px
	position: absolute
	left: 50%
	top: 50%
	margin-left: -21px
	margin-top: -21px
	z-index: 10
	-webkit-transform-origin: 50%
	-moz-transform-origin: 50%
	transform-origin: 50%
	-webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite
	-moz-animation: swiper-preloader-spin 1s steps(12, end) infinite
	animation: swiper-preloader-spin 1s steps(12, end) infinite
	&:after
		display: block
		content: ""
		width: 100%
		height: 100%
	//	background-image: url("data	background-position: 50%
		-webkit-background-size: 100%
		background-size: 100%
		background-repeat: no-repeat
	
	&-white:after
	//	background-image: url("data
	
@-webkit-keyframes swiper-preloader-spin
	100% 
		-webkit-transform: rotate(360deg)

@keyframes swiper-preloader-spin
	100% 
		transform: rotate(360deg)

.slide-1
	background-image: url('/assets/images/slide-1-570x517.jpg')
.slide-2
	background-image: url('/assets/images/slide-2-570x517.jpg')
.slide-3
	background-image: url('/assets/images/slide-3-570x517.jpg')

@keyframes swiperfadeInUp
	0%
		margin-left: 50px
		opacity: 0
	100% 
		margin-left: 0
		opacity: 1

.swiper-not-animated
	opacity: 0

.swiperfadeInUp
	animation-name: swiperfadeInUp

.swiper-animated
	opacity: 1
	animation-duration: 1s
	animation-fill-mode: both

.swiper-button-next
	position: absolute
	top: 50%
	left: 0
	@include size(36px)
	transform: translateY(-18px)
	z-index: 10
	cursor: pointer
	color: #292836
	text-align: center
	background: #fff
	font: 400 24px/37px 'FontAwesome'
	-moz-transition: 0.3s all ease
	-o-transition: 0.3s all ease
	-webkit-transition: 0.3s all ease
	transition: 0.3s all ease

.swiper-button-prev
	position: absolute
	top: 50%
	right: 0
	@include size(36px)
	transform: translateY(-18px)
	z-index: 10
	cursor: pointer
	color: #292836
	text-align: center
	background: #fff
	font: 400 24px/37px 'FontAwesome'
	-moz-transition: 0.3s all ease
	-o-transition: 0.3s all ease
	-webkit-transition: 0.3s all ease
	transition: 0.3s all ease
