.col-sm-6
	+b.authorise
		+e('h2').title-h2 Новый клиент
		+e('p').text.authorise__text--bold Регистрация
		+e('hr').hr
		+e('p').text Создание учетной записи поможет покупать быстрее. Вы сможете контролировать состояние заказа, а также просматривать заказы сделанные ранее. Вы сможете накапливать призовые баллы и получать скидочные купоны. А постоянным покупателям мы предлагаем гибкую систему скидок и персональное обслуживание.
		+e('hr').hr
		+e('a').button(href='#') Продолжить
.col-sm-6
	+b.authorise
		+e('h2').title-h2 Зарегистрированный клиент
		+e('p').text.authorise__text--bold Войти в личный кабинет
		+e('hr').hr
		include ../register/register
