.authorise
	padding: 30px
	display: block
	border: 1px solid $lightgrey
	@media screen and (max-width: 767px)
		margin-bottom: 30px

	&__title-h2
		padding-bottom: 20px
		font-weight: 700
		text-align: left
		text-transform: uppercase

	&__hr
		padding-bottom: 30px
		border: none
		border-top: 1px solid $lightgrey
		background-color: #fff

	&__text
		font-size: 1em
		&--bold
			font-weight: 700

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		transition: .3s
		&:hover
			background-color: $red-color-dark