.search-result
	display: block
	
	&__title-h1
		padding-bottom: 20px
		text-align: center
		font-size: 1.2em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000

	&__title-h2
		padding-bottom: 20px
		font-size: 1.1em
		font-weight: 700
		text-transform: uppercase
		color: #666

	&__title-h3
		padding-bottom: 23px
		text-transform: uppercase
		@media screen and (max-width: 991px) and (min-width: 768px)
			padding-bottom: 12px


	&__line
		padding-bottom: 20px
		border: none
		border-top: 1px solid $lightgrey

	&__label
		display: block
		margin-bottom: 6px
		font-size: .75em

		&--checkbox
			position: relative
			margin-bottom: 20px
			padding-left: 20px
			cursor: pointer

	&__checkbox
		position: absolute
		top: -2px
		left: 0
		display: inline-block
		@include size(16px)
		background-color: transparent
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			@include size(16px)
			background-color: $light
			opacity: 1
		
	&__icon-checked
		position: absolute
		top: 1px
		left: 3px
		transition: .3s
		visibility: hidden
		opacity: 0
		fill: $main-color

	&__select
		position: relative
		margin-bottom: 10px
		height: 34px
		width: 100%
		font-size: .8em
		background-color: $light
		border: none

		&-wrapper
			margin-bottom: 10px

	&__option
		width: 100%
		background-color: $light

	&__select-wrapper .sbHolder,
	&__select-wrapper .sbOptions
		width: 100%

.search-result__checkbox:checked ~ .search-result__icon-checked
	visibility: visible
	opacity: 1