include ../search/search
include ../icon/icon
include ../product-card/product-card

+b.search-result
	.row
		+e('aside').aside.col-sm-3(id='column-left')
			+e('h3').title-h3 Новые поступления
			+e.wrapper.box-carousel
				+product-card('', '', 'oneCard')
				+product-card('', '', 'oneCard')
				+product-card('', '', 'oneCard')
		+e.content.col-sm-9(id='content')
			+e('h1').title-h1 Поиск - что искали
			+e('hr').line
			+e.wrapper
				+e('label').label Поиск:
				.row
					.col-sm-4
						+search('search--result', 'search__input--result')
					.col-sm-5
						+e.select-wrapper
							+e('select').select
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
								+e('option').option Различные категории
				+e('label').label.search-result__label--checkbox Искать в описании товаров
					+e('input').checkbox(type='checkbox')
					+icon('checked', '__icon-checked', 10, 10)
			+e('h2').title-h2 Результаты поиска
			include ../sort/sort
			.row
				+product-card('mult')
				+product-card('mult')
