.manufacturers
	display: block

	&__title-h1
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #000

	&__title-h2
		padding-bottom: 20px
		font-size: 1.1em
		font-weight: 700
		text-align: center
		text-transform: uppercase
		color: #666

	&__wrapper
		margin-bottom: 20px
		padding: 20px
		background-color: $light

	&__link
		padding: 0 4px
		display: inline-block
		font-size: .9em
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			color: $main-color

	&__icon
		transform: rotate(-90deg)
		fill: $main-color

	&__heading
		float: left
		padding: 0
		display: block
		width: 15%
		font-size: 1.5em
		font-weight: 700
		text-align: center
		color: #666
		border: 1px solid $lightgrey
		border-left: none
		border-right: none
		border-bottom: none;

	&__name
		float: right
		padding: 10px 10px
		display: block
		width: 85%
		border: 1px solid $lightgrey
		border-right: none
		border-bottom: none

	&__list
		@include clearfix

	&__button-wrapper
		padding-top: 40px
		@include clearfix

	&__button
		padding: 10px 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		line-height: 1.5
		color: #fff
		background-color: $red-color
		border: none
		transition: .3s
		&:hover
			background-color: $red-color-dark

		&--right
			float: right