include ../icon/icon

+b.manufacturers
	+e('h1').title-h1 Производители
	+e('p').text Алфавитный указатель
	+e.wrapper
		+e('a').link(href="#") А
		+e('a').link(href="#") А
		+e('a').link(href="#") А
		+e('a').link(href="#") А
		+e('a').link(href="#") А
		+e('a').link(href="#") А
		+e('a').link(href="#") А
	+e('h2').title-h2 Название категории
	+e.list
		+e.heading A
		+e.name
			+icon('arrow-down', '__icon', 10, 10)
			+e('a').link(href="#") Название производителя
	+e.list
		+e.heading A
		+e.name
			+icon('arrow-down', '__icon', 10, 10)
			+e('a').link(href="#") Название производителя
	+e.list
		+e.heading A
		+e.name
			+icon('arrow-down', '__icon', 10, 10)
			+e('a').link(href="#") Название производителя
	+e.list
		+e.heading A
		+e.name
			+icon('arrow-down', '__icon', 10, 10)
			+e('a').link(href="#") Название производителя
	+e.list
		+e.heading A
		+e.name
			+icon('arrow-down', '__icon', 10, 10)
			+e('a').link(href="#") Название производителя
	+e.list
		+e.heading A
		+e.name
			+icon('arrow-down', '__icon', 10, 10)
			+e('a').link(href="#") Название производителя
	+e.button-wrapper
		+e('a').button Кнопка