.top-button
	position: fixed
	right: 15px
	bottom: 15px
	z-index: 997
	display: none
	@include size(40px)
	background-color: $main-color
	border-radius: 50%
	box-shadow: 0 0 5px $light
	cursor: pointer
	&:hover
		background-color: $main-color-mid

	&__icon
		position: absolute
		top: 50%
		left: 50%
		margin-top: -8px
		margin-left: -8px
		fill: #fff
		transform: rotate(180deg)