.related
	position: relative
	display: block

	&__title-h2
		padding-bottom: 10px
		text-transform: uppercase
		color: #666

	&__line
		padding-bottom: 30px
		border: none
		border-top: 1px solid $lightgrey