include ../product-card/product-card

+b.related
	+e('h2').title-h2 Рекомендуемые товары
	+e('hr').line
	+e.slider.box-carousel
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
		+product-card('', 'single')
