.blog-article
	padding-bottom: 40px
	display: block

	&__img
		width: 100%
		height: auto

	&__title-h2
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 300
		text-transform: uppercase
		line-height: 1.2
		@media screen and (max-width: 991px)
			padding-top: 10px

	&__title-link
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__date
		position: relative
		margin-bottom: 20px
		padding-left: 20px
		display: inline-block
		font-size: .9em
		color: $red-color

	&__icon
		position: absolute
		top: 0
		left: 0
		fill: $main-color

	&__comment
		position: relative
		margin-left: 10px
		padding-left: 20px
		display: inline-block
		font-size: .9em
		text-decoration: none
		text-transform: uppercase
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__author
		position: relative
		margin-bottom: 20px
		padding-left: 20px
		display: inline-block
		font-size: .9em
		text-transform: uppercase
		color: $main-color
		@media screen and (max-width: 991px)
			font-size: .8em

	&__button
		padding: 11px 20px
		display: inline-block
		text-decoration: none
		text-transform: uppercase
		color: #fff
		background-color: $main-color
		transition: .3s
		&:hover
			background-color: $main-color-mid