include ../icon/icon

mixin blog-article()
	+b('article').blog-article
		.row
			.col-sm-12.col-md-6
				+e('img').img(src='/assets/images/post-2.jpg')
			.col-sm-12.col-md-6
				+e('h2').title-h2
					+e('a').title-link(href='#') Название статьи об электронных кальянах
				+e('span').date 28.11.16
					+icon('clock', '__icon', 16, 16)
				+e('a').comment(href='#') 3 Комментарии
					+icon('comments', '__icon', 16, 16)
				+e('span').author John Snow
					+icon('user', '__icon', 16, 16)
				+e('p').preview Fill your everyday diet with the best choices focusing on plenty of fruits and vegetables, lean proteins and whole grains in the serving sizes and the...
				+e('a').button(href='#') Читать далее
		block
