.quikview
	padding: 20px 15px
	display: none
	position: fixed
	border-radius: 0
	background: #fff
	min-height: 400px
	top: 50%
	left: 50%
	opacity: 0
	z-index: 999
	transform: translate3d(-50%, -50%, 0)
	user-select: none
	width: 1100px
	@media screen and (max-width: 1199px)
		width: 900px
	@media screen and (max-width: 991px) and (min-width: 768px)
		width: 720px
	
	&__close
		position: absolute
		top: 8px
		right: 8px
		z-index: 2
		padding: 15px
		cursor: pointer
		transition: .3s
        
	&__media
		display: block
		padding-bottom: 20px

	&__choice-wrapper
		padding-bottom: 15px
		display: block

	&__slider-img
		position: absolute
		top: 50%
		left: 50%
		display: block
		max-width: 100%
		max-height: 100%
		transform: translate3d(-50%,-50%,0)

	&__special
		position: relative
		margin-bottom: 10px
		padding: 2px 4px 2px 6px
		display: inline-block
		font-size: .8em
		font-weight: 300
		text-transform: uppercase
		color: #fff
		background-color: $yellow

		&:before,
		&:after
			content: ''
			position: absolute
			left: 100%
			width: 0
			height: 0

		&:before
			top: 0
			border-top: 14px solid $yellow
			border-right: 14px solid rgba(248, 201, 56, 0)

		&:after
			bottom: 0
			border-bottom: 14px solid $yellow
			border-right: 14px solid rgba(248, 201, 56, 0)

	&__title-h1
		margin-right: 32px
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		text-transform: uppercase
		color: #000

	&__name
		padding-bottom: 10px
		font-weight: 700

	&__action-item
		position: relative
		padding-left: 18px
		display: inline-block
		font-size: .9em
		text-decoration: underline
		line-height: 1
		color: $main-color
		background-color: transparent
		border: none
		transition: .3s
		&:hover
			color: $red-color

			.quikview__icon-action
				fill: $red-color

		& + .quikview__action-item
			margin-left: 10px

	&__icon-action
		position: absolute
		top: 0
		left: 0
		transition: .3s
		fill: $main-color

	&__list,
	&__slider
		list-style: none

	&__list
		
		&-item
			padding-bottom: 10px
			font-size: .9em
			color: #666

	&__slider
		position: relative
		height: 100%

		&-item
			position: relative
			padding-bottom: 100%
			display: none
			width: 100%
			height: 0

			&--active
				display: block

	&__slider-controls
		top: 50%
		z-index: 2
		display: block
		width: 100%
		@include clearfix

	&__prev-slide,
	&__next-slide
		position: absolute
		top: 50%
		z-index: 2
		display: block
		width: 20px
		height: 60px
		background-color: #fff
		transform: translateY(-50%)
		cursor: pointer

	&__prev-slide
		left: 0

	&__next-slide
		right: 0
	
	&__link--manufacturer
		text-decoration: none
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__available
		font-weight: 700
		color: green

	&__rating
		padding-bottom: 14px

	&__review-link
		padding: 0 10px
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			color: $main-color

	&__add-review-link
		color: $main-color
		transition: .3s
		&:hover
			color: $red-color

	&__label
		display: inline-block
		padding: 0 10px 10px 0
		font-size: .9em
		color: #666

		&--required:after
			content: '*'
			font-weight: 700
			color: $red-color

		&--checkbox
			position: relative
			padding-left: 20px
			cursor: pointer

		&--color
			position: relative
			padding: 0
			@include size(24px)
			&:after
				content: ''
				position: absolute
				top: -3px
				left: -3px
				@include size(26px)
				border: 2px solid #fff
				border-radius: 50%
				transition: .3s

	&__color
		position: relative
		display: inline-block
		@include size(24px)
		vertical-align: middle

		& + .quikview__color
			margin-left: 8px

	&__price
		padding-bottom: 20px
		font-size: 1.2em
		font-weight: 700
		color: $red-color

	&__old-price
		padding-bottom: 20px
		font-size: 1em
		font-weight: 700
		text-decoration: line-through
		color: #666
	
	&__buy
		margin-bottom: 20px
		padding: 15px 25px
		font-size: 1em
		font-weight: 300
		text-transform: uppercase
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid

	&__icon-instagram
		@include size(40px)
		transition: .3s
		fill: $main-color
		&:hover
			transform: translate3d(0, -10px, 0)
			fill: $main-color-mid

	&__checkbox
		position: absolute
		top: 0
		left: 0
		display: inline-block
		@include size(16px)
		background-color: transparent
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			@include size(16px)
			background-color: $light
			opacity: 1
		
	&__icon-checked
		position: absolute
		top: 3px
		left: 3px
		transition: .3s
		visibility: hidden
		opacity: 0
		fill: $main-color

	&__select
		position: relative
		width: 170px
		height: 34px
		font-size: .8em
		background-color: $light
		border: none

	&__option
		width: 170px
		background-color: $light

	&__radio
		position: absolute
		top: 0
		left: 0
		z-index: 1
		@include size(24px)
		opacity: 0
		cursor: pointer
		
	&__color-choice
		position: absolute
		top: 0
		left: 0
		@include size(24px)
		border-radius: 50%

	&__quant
		padding-left: 6px
		width: 42px
		height: 30px
		font-size: .8em
		color: #666
		background-color: $light
		border: none
		transition: .3s

	&__description
		padding-bottom: 20px

	&__choice-wrapper > .sbHolder,
	&__choice-wrapper .sbOptions
		width: 200px

	&__arrow
		position: absolute
		top: 50%
		left: 50%
		margin: -5px 0 0 -5px

	&__arrow--prev
		transform: rotate(90deg)
	
	&__arrow--next
		transform: rotate(-90deg)

	&__icon--prev,
	&__icon--next
		transition: .3s
		&:hover
			fill: $main-color

	&__icon-star
		fill: #000
		&--gold
			fill: gold

	&__icon-cancel
		fill: #000

	&__preloader
		position: fixed
		left: 0
		top: 0
		right: 0
		bottom: 0
		background: rgba(128, 128, 128, 0.6)
		z-index: -1
		opacity: 0
		transition: all 1.3s ease .3s
		
		&--visible
			z-index: 1000
			opacity: 1
	
	&__spinner
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -69px
		margin-left: -69px
		@include size(128px)
		display: inline-block;
		background: url('/assets/images/ring-alt.svg')
		background-repeat: no-repeat
		background-position: left top
		background-size: cover

.quikview__checkbox:checked ~ .quikview__icon-checked
	visibility: visible
	opacity: 1

.quikview__radio:checked ~ .quikview__label--color:after
	border: 2px solid $main-color

#overlay
	z-index: 998
	position: fixed
	background-color: #000
	opacity: 0.8
	width: 100%
	height: 100%
	top: 0
	left: 0
	cursor: pointer
	display: none