include ../icon/icon

+b.quikview(id='quikview-modal' style='display:none')
	+e.close
		span
		span
	.row
		.col-sm-6.col-lg-6
			.row
				.col-xs-12
					+e.slider(id='productQuikView')
						+e('a').prev-slide(href='#')
							+icon('arrow-down', '__arrow quikview__arrow--prev', 10, 10)
						+e('a').next-slide(href='#')
							+icon('arrow-down', '__arrow quikview__arrow--next', 10, 10)
						+e.slider-wrapper
							+e.slider-item
								+e('img').slider-img(src='/assets/images/1_7.jpg')
							+e.slider-item
								+e('img').slider-img(src='/assets/images/bosco_kalyan.jpg')
							+e.slider-item
								+e('img').slider-img(src='/assets/images/bosco_kalyan.jpg')
		.col-sm-6.col-lg-6
			+e.wrapper
				+e('h1').title-h1 Название товара
				+e.info-wrapper
					+e('ul').list
						+e('li').list-item Производитель:
							+e('a').link.quikview__link--manufacturer(href='') Имя производителя
						+e('li').list-item Модель: Кальян
							+e('span').model
						+e('li').list-item Наличие:
							+e('span').available Есть в наличии
					+e.rating
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
						+icon('star', '__icon-star', 12, 12)
				+e.info-wrapper
					+e.options
						+e.addition
							+e.choice-wrapper
								+e('label').label Дополнительные опции:
								+e.wrapper
									+e('label').label.quikview__label--checkbox
										+e('input').checkbox(type='checkbox')
										| Дополнительный шланг
										+icon('checked', '__icon-checked', 10, 10)
									+e('label').label.quikview__label--checkbox
										+e('input').checkbox(type='checkbox')
										| Дополнительный мундштук
										+icon('checked', '__icon-checked', 10, 10)
									+e('label').label.quikview__label--checkbox
										+e('input').checkbox(type='checkbox')
										| Дополнительный мундштук
										+icon('checked', '__icon-checked', 10, 10)
							+e.choice-wrapper
								+e('label').label.quikview__label--required(for='choice') Выбор
								+e('select').select(name='choice')
									+e('option').option ---Выберите---
									+e('option').option Выбор 1
									+e('option').option Выбор 2
									+e('option').option Выбор 3
									+e('option').option Выбор 4
							+e.choice-wrapper
								+e('label').label.quikview__label--required(for='color') Цвет
								+e.color
									+e('input').radio(type='radio' name='color' value='' id='')
									+e('label').label.quikview__label--color
										+e('img').color-choice(src='/assets/images/blue-50x50.png')
								+e.color
									+e('input').radio(type='radio' name='color' value='' id='' )
									+e('label').label.quikview__label--color
										+e('img').color-choice(src='/assets/images/green-50x50.png')
								+e.color
									+e('input').radio(type='radio' name='color' value='' id='' )
									+e('label').label.quikview__label--color
										+e('img').color-choice(src='/assets/images/yellow-50x50.png')
							+e.choice-wrapper
								+e('label').label(for='quantity') Количество
								+e('input').quant(type='number' value='1' id='quantity' min='1')
							+e('span').old-price 2000р
							+e('p').price 1500р
							+e('button').buy Купить
							+e.social
								+e('').social-link(href='#')
									+icon('instagram', '__icon-instagram', 40, 40)
	#overlay
.row
	.col-xs-12
		a(class="boom" href="#quikview-modal" style="display:inline-block;padding:10px 20px;") Жми
