include ../main-menu/main-menu
include ../logo/logo
include ../search/search

// RD Navbar
+b('header').header
	.rd-navbar-wrap
		nav.rd-navbar(data-rd-navbar-lg='rd-navbar-static')
			.rd-navbar-inner
				.container
					// RD Navbar Panel
					.rd-navbar-panel
						.row
							.col-lg-4.col-md-3.col-sm-12.col-xs-12
								// RD Navbar Brand
								.rd-navbar-brand
								+logo()
								//img.brand(src='/assets/images/logo.png', alt='')
								// END RD Navbar Brand
							.col-lg-5.col-md-5.col-sm-12.col-xs-12
								.rd-navbar-panel-canvas
									// RD Navbar Cart Toggle
									.rd-navbar-cart-wrap
										.rd-navbar-cart-floating
											+e('button').cart(data-rd-navbar-toggle='.rd-navbar-cart, .rd-navbar-cart-floating')
												+icon('cart', '__icon', 16, 16)
												+e('div').number(class='header__number--cart') 0
											a.rd-navbar-cart-buy.material-icons-card_membership(href='#') Перейти в корзину
										.rd-navbar-cart
											a.rd-cart-toggler-custom(href='' data-rd-navbar-toggle='.rd-navbar-cart .rd-navbar-cart-floating')
												+icon('cancel', '__icon-cancel', 16, 16)
											ul.rd-navbar-cart-items
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Lorem ipsum dolor sit
															.rd-navbar-cart-item__counter x3
															.rd-navbar-cart-item__amount x3
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Corporis incidunt non
															.rd-navbar-cart-item__counter x1
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title
																| Assumenda id quia
															.rd-navbar-cart-item__counter x4
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Labore quae suscipit
															.rd-navbar-cart-item__counter x5
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title
																| Dicta fugit nesciunt
															.rd-navbar-cart-item__counter x3
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Eaque ex maiores
															.rd-navbar-cart-item__counter x6
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__total Итого
														.rd-navbar-cart-item__total.rd-navbar-cart-item__total--red Итоговая сумма
											a.rd-navbar-cart-buy(href='#') Перейти в корзину
											a.rd-navbar-cart-buy.rd-navbar-cart-buy--red(href='#') Оформить заказ
									// END RD Navbar Cart Toggle
								+e.wrapper
									// RD Navbar Toggle
									button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
										span
									// END RD Navbar Toggle
									+e.search-wrapper
										+search()
									+e('button').search(data-rd-navbar-toggle='.header__search-wrapper')
										+icon('search', '__icon __icon--search', 16, 16)
									+e('button').login(data-rd-navbar-toggle='.header__dropdown')
										+icon('user', '__icon', 16, 16)
										+e('span').text Вход
									+e('ul').dropdown
										+e('li').dropdown-item
											+e('a').dropdown-link(href='') Меню для входы
										+e('li').dropdown-item
											+e('a').dropdown-link(href='') Меню для входы
										+e('li').dropdown-item
											+e('a').dropdown-link(href='') Меню для входы
										+e('li').dropdown-item
											+e('a').dropdown-link(href='') Меню для входы
									+e('a').wishlist(href='#')
										+icon('like', '__icon-cancel', 16, 16)
										+e('div').number(class='header__number--wishlist') 0
									// RD Navbar Cart Toggle
									.rd-navbar-cart-wrap
										.rd-navbar-cart-floating
											+e('button').cart(data-rd-navbar-toggle='.rd-navbar-cart, .rd-navbar-cart-floating')
												+icon('cart', '__icon header__icon--cart', 16, 16)
												+e('div').number(class='header__number--cart') 0
											//button.rd-navbar-cart-toggle(data-rd-navbar-toggle='.rd-navbar-cart, .rd-navbar-cart-floating')
												+icon('cart', '__icon', 16, 16)
												+e('div').number(class='header__number--green') 0
												// span
											a.rd-navbar-cart-buy.material-icons-card_membership(href='#') Перейти в корзину
										.rd-navbar-cart
											a.rd-cart-toggler-custom(href='' data-rd-navbar-toggle='.rd-navbar-cart .rd-navbar-cart-floating')
												+icon('cancel', '__icon-cancel', 16, 16)
											ul.rd-navbar-cart-items
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Lorem ipsum dolor sit
															.rd-navbar-cart-item__counter x3
															.rd-navbar-cart-item__amount x3
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Corporis incidunt non
															.rd-navbar-cart-item__counter x1
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title
																| Assumenda id quia
															.rd-navbar-cart-item__counter x4
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Labore quae suscipit
															.rd-navbar-cart-item__counter x5
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title
																| Dicta fugit nesciunt
															.rd-navbar-cart-item__counter x3
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__left
															img.rd-navbar-cart-item__preview(alt='')
														.rd-navbar-cart-item__body
															.rd-navbar-cart-item__title Eaque ex maiores
															.rd-navbar-cart-item__counter x6
														a.rd-navbar-cart-item__remove.material-icons-delete(href='#')
															+icon('basket', '__icon-basket', 16, 16)
												li
													.rd-navbar-cart-item
														.rd-navbar-cart-item__total Итого
														.rd-navbar-cart-item__total.rd-navbar-cart-item__total--red Итоговая сумма
											a.rd-navbar-cart-buy(href='#') Перейти в корзину
											a.rd-navbar-cart-buy.rd-navbar-cart-buy--red(href='#') Оформить заказ
									// END RD Navbar Cart Toggle
									+e('p').working-time c 9:00 до 20:00<br>без выходных
									// RD Navbar Collapse Toggle
									button.rd-navbar-collapse-toggle(data-rd-navbar-toggle='.rd-navbar-collapse')
										+icon('more', '__icon--more', 16, 16)
									//	span
									// END RD Navbar Collapse Toggle
								+e.wrapper
									ul.rd-navbar-collapse
										li.list-item.list-item--header
											a.header__link(href='#') Доставка и оплата
											a.header__link(href='#') Оплата online
										li.list-item.list-item--header
											a.header__link(href='#') Гарантии
											a.header__link(href='#') Отзывы
										li.list-item.list-item--header
											a.header__link(href='#') Полезные советы
											a.header__link(href='#') Контакты
							.col-lg-3.col-md-4.col-sm-12.col-xs-12
								+e.phone-wrapper
									+e('p').phone +7 (495) 125-12-22
									+e('p').phone.header__phone--black +7 (495) 125-12-22
									+e('p').phone-text По России вызов бесплатно
									+e('p').phone.header__phone--small 
										+icon('whatsapp', '__whatsapp', 20, 20)
										+icon('viber', '__viber', 20, 20)
										| +7 (495) 125-12-22
						// END RD Navbar Panel
			.rd-navbar-outer
				+e.menu-wrapper
					.container
						.rd-navbar-inner
							.rd-navbar-subpanel
								.rd-navbar-nav-wrap
									// RD Navbar Nav
									ul.rd-navbar-nav.main-menu
										li.active
											a(class='main-menu__link main-menu__link--header' href='#') Кальяны
											ul.rd-navbar-dropdown
												li
													ul
														li
															a(href='#') Stainless Steel Service
														li
															a(href='#') Titanium Service
														li
															a(href='#') Metal Service
														li
															a(href='#') Steel Detailing
														li
															a(href='#') Steel Coating
												li
													ul
														li
															a(href='#') Stainless Steel Service
														li
															a(href='#') Titanium Service
														li
															a(href='#') Metal Service
														li
															a(href='#') Steel Detailing
														li
															a(href='#') Steel Coating
										li
											a(class='main-menu__link main-menu__link--header' href='#') Табак
											ul.rd-navbar-dropdown
										li
											a(class='main-menu__link main-menu__link--header' href='#') Электронные кальяны
											ul.rd-navbar-dropdown
										li
											a(class='main-menu__link main-menu__link--header' href='#') Электронные сигареты
											ul.rd-navbar-dropdown
										li
											a(class='main-menu__link main-menu__link--header' href='#') Жидкости
											ul.rd-navbar-dropdown
												li
													ul
														li
															a(href='#') Stainless Steel Service
														li
															a(href='#') Titanium Service
														li
															a(href='#') Metal Service
														li
															a(href='#') Steel Detailing
														li
															a(href='#') Steel Coating
												li
													ul
														li
															a(href='#') Stainless Steel Service
														li
															a(href='#') Titanium Service
														li
															a(href='#') Metal Service
														li
															a(href='#') Steel Detailing
														li
															a(href='#') Steel Coating
												li.show-all
													a(href="#") Показать пыжвапрыжвапоывадпо ыжвадпоыжвадоп
										li
											a(class='main-menu__link main-menu__link--header' href='#') Акции и распродажи
											ul.rd-navbar-dropdown
									// END RD Navbar Nav
	// END RD Navbar
