.header
	display: block
	padding-top: 0
	@media screen and (max-width: 991px)
		padding-top: 70px

	&__dropdown
		position: absolute
		top: 100%
		left: 40px
		z-index: 2
		padding-bottom: 8px
		display: block
		background-color: #fff
		visibility: hidden
		opacity: 0
		transform: translateY(30px)
		transition: .3s
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.25)
		list-style: none

		&.active
			visibility: visible
			opacity: 1
			transform: translateY(0)

		&-close
			display: inline-block
			padding: 15px
			cursor: pointer

		&-link
			padding: 11px 16px
			display: block
			font-size: .9em
			text-decoration: none
			color: #666
			transition: .3s
			&:hover
				background-color: $light
				opacity: .7

	&__wrapper
		position: relative
		padding: 16px 0 0
		display: flex
		justify-content: space-between
		@media screen and (max-width: 991px)
			margin: 0 auto
			padding: 0
			width: 280px

	&__icon
		position: absolute
		top: 2px
		left: 0
		transition: .3s
		&--search
			fill: $main-color

	&__search,
	&__cart,
	&__login,
	&__wishlist
		position: relative
		display: block
		height: 22px

	&__wishlist,
	&__cart
		width: 46px
		transition: .3s

	&__wishlist:hover
		.header__icon
			fill: $red-color

	&__search,
	&__cart
		display: block
		border: none
		background-color: transparent
	
	&__search
		width: 22px

	&__login
		position: relative
		padding-left: 20px
		display: block
		@include clearfix
		text-decoration: none
		line-height: 1.3
		color: #666
		background-color: #fff
		border: none

	&__wishlist
		display: block
		text-decoration: none
		@include clearfix

	&__number
		position: absolute
		top: 0
		right: 0
		display: inline-block
		@include size(20px)
		text-align: center
		color: #fff
		border-radius: 50%
		line-height: 1.3
		
		&--cart
			background-color: $main-color
		
		&--wishlist
			background-color: $red-color

	&__working-time
		padding-bottom: 0
		font-size: 14px
		line-height: 1

	&__link
		display: block
		font-size: 14px
		text-decoration: none
		line-height: 1.7
		color: #666
		transition: .3s
		&:hover
			opacity: .7

	&__menu-wrapper
		position: relative
		width: 100%
		height: 60px
		background-color: $main-color
		transition: .3s
		@media screen and (max-width: 991px)
			height: 0

		&--fixed
			position: fixed
			top: 0
			left: 0
			z-index: 3
			height: 40px

	&__text
		font-size: .9em

	&__top-wrapper
		display: flex
		justify-content: space-between

	&__search-wrapper
		position: absolute
		top: 34px
		left: 16px
		z-index: 10
		width: 220px
		height: 36px
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.25)
		visibility: hidden
		opacity: 0
		transition: .3s
		transform: translateY(30px)
		@media screen and (max-width: 991px)
			top: 18px

		&.active
			visibility: visible
			opacity: 1
			transform: translateY(0)

	&__icon--more
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%, -50%, 0)
		fill: #000

	&__phone-wrapper
		padding-top: 16px
		text-align: right
		@media screen and (max-width: 991px)
			text-align: center

	&__phone
		padding-bottom: 4px
		display: block
		font-size: 1.4em
		font-weight: 700
		letter-spacing: 1px
		line-height: 1
		color: $red-color

		&--black
			padding-bottom: 0
			font-size: 1.2em
			font-weight: 300
			letter-spacing: 2.6px
			color: #000
		
		&--small
			position: relative
			padding: 4px 0 4px 54px
			display: inline-block
			font-size: 1em
			font-weight: 300
			color: #000

		&-text
			padding-bottom: 0
			font-size: .75em
			text-transform: uppercase
			letter-spacing: .5px

	&__whatsapp,
	&__viber
		position: absolute
		top: 2px
		display: block

	&__whatsapp
		left: 0

	&__viber
		left: 24px

	&__call
		padding: 0
		font-size: .7em
		font-weight: 300
		text-align: center
		color: #666

	&__icon-basket
		transition: .3s
		fill: $main-color
		&:hover
			fill: $main-color-mid

	&__cart-wrapper
		position: absolute
		top: 50%
		margin-top: -10px
		width: 48px
		height: 20px

	&__cart-empty
		padding: 0 15px
		font-size: .9em
		line-height: 1.5
		color: #666

/* Часть настроек RD-Navbar*/
.rd-navbar-cart-toggle
	background-color: $main-color

.rd-navbar-static .rd-navbar-nav > li > a
	padding: 0
	line-height: 3.8

.rd-navbar-static .rd-navbar-subpanel
	width: 100%

.rd-navbar-static .rd-navbar-nav
	display: flex
	width: 100%

.rd-navbar-static .rd-navbar-collapse
	float: none
	margin-top: 0
	margin-left: 0
	display: flex
	flex-grow: 1
	justify-content: space-between
	line-height: 1

.rd-navbar-cart-toggle
	margin-top: 0
	background-color: #fff
	border: none

.rd-navbar-static .rd-navbar-cart-wrap
	float: none
	margin: 0
	width: 46px
	font-size: 1em

.rd-navbar-static .rd-navbar-panel
	padding-top: 20px
	padding-bottom: 20px

.rd-navbar-static .rd-navbar-collapse li
	margin-left: 0

.rd-navbar-static .rd-navbar-collapse li a:hover
	text-decoration: none
.rd-navbar-cart-toggle
	font-family: 'Open Sans', sans-serif

.rd-navbar-static .rd-navbar-inner
	padding-left: 0
	padding-right: 0

.rd-navbar-fixed .rd-navbar-toggle
	background-color: $main-color
	border: none

.rd-navbar-fixed .rd-navbar-collapse
	background-color: #FFF
	border: none

.rd-navbar-fixed .rd-navbar-panel-canvas
	background-color: $main-color

.rd-navbar-panel-canvas
	.rd-navbar-cart-wrap
		display: none
		@media screen and (max-width: 991px)
			display: block

.rd-navbar-fixed .rd-navbar-cart-floating.active .rd-navbar-cart-toggle
	visibility: visible
	opacity: 1

.rd-navbar-fixed .rd-navbar-cart-floating.active .rd-navbar-cart-buy
	display: none

.rd-navbar-fixed .rd-navbar-cart-floating
	right: 15px
	@include size(48px)

.rd-navbar-fixed .rd-navbar-cart-floating.active
	width: auto

.rd-navbar-fixed .rd-navbar-cart-floating.active
	width: 48px
	height: 48px

.rd-navbar-fixed .rd-navbar-toggle span:after, .rd-navbar-fixed .rd-navbar-toggle span:before, .rd-navbar-fixed .rd-navbar-toggle span
	background-color: #000

.rd-navbar-static .rd-navbar-nav > li > a:hover
	color: $main-color-dark

.rd-navbar-fixed .rd-navbar-cart-floating .rd-navbar-cart-toggle
	@include size(48px)
	top: 50%

.rd-navbar-fixed .rd-navbar-cart-floating.active .rd-navbar-cart-toggle
	background-color: $main-color

.rd-navbar-fixed .rd-navbar-cart-floating .rd-navbar-cart-toggle
	background-color: $main-color

.rd-navbar-fixed .rd-navbar-panel-canvas .header__number--cart
	background-color: $red-color

.rd-navbar-static .rd-navbar-cart-wrap .header__cart:hover
	.header__icon--cart
		fill: $main-color

.rd-navbar--is-clone .header__menu-wrapper
	height: 40px
	box-shadow: 0 0 5px #666

.rd-navbar--is-clone .rd-navbar-nav > li > a
	line-height: 2.8

.rd-navbar--is-clone .rd-navbar-nav > li > a
	font-size: 14px

.rd-navbar--is-clone .logo
	display: block
	padding-top: 7px

.rd-navbar--is-clone .rd-navbar-nav-wrap
	display: flex
	justify-content: space-between
	width: 100%