/*
* @subsection	 RD Navbar Toggles
*
* @description	Describes style declarations for RD Navbar navigation
*/

.rd-navbar-cart-floating
	display: none

.rd-navbar-cart-toggle 
	@include toggle-icons-via-rotation(48px, 28px, $rd-navbar-contrast-color, '\e8cb', '\e5cd')
	font-family: 'Material Icons'

.rd-navbar-cart
	@extend %rd-navbar-transition
	display: none
	text-align: left
	color: $rd-navbar-default-color
	background: $rd-navbar-white-color
	box-shadow: $rd-navbar-shadow-ambient, $rd-navbar-shadow-medium
	height: 328px
	width: 100%

	&:before
		content: 'CLOSE'
		position: absolute
		height: 32px
		left: 0
		right: 0
		top: 0
		color: #000
		background: linear-gradient($rd-navbar-white-color, rgba($rd-navbar-white-color, 0))
		z-index: 1

	&-items
		overflow: auto
		max-height: 100%
		height: 100%
		padding: 16px 0

		&::-webkit-scrollbar
			width: 4px
		
		&::-webkit-scrollbar-thumb
			background: $rd-navbar-default-color
		
	.rd-navbar-cart-item
		&__preview
			border-radius: 50%
		
	.rd-navbar-cart-item
		position: relative
		padding: 8px 0
		&__left, &__body, &__remove
			position: relative
			display: table-cell
	
		&__left
			padding: 0 16px
			img
				max-width: none
			
		&__body
			vertical-align: middle
			width: 100%
		
		&__title
			font-size: 16px
			line-height: 26px
			color: $rd-navbar-contrast-color
		
		&__counter
			font-size: 14px
			line-height: 1.3
		
		&__remove
			vertical-align: middle
			width: 56px
			font-size: 24px
			padding: 0 16px

		&:after
			content: ''
			position: absolute
			bottom: 0
			right: 0
			left: 88px
			display: block
			height: 1px
			background: rgba($rd-navbar-default-color, .2)
		
.rd-navbar-static
	.rd-navbar-cart-wrap
		position: relative
		float: right
		margin-top: 12px
		margin-left: 20px

	.rd-navbar-cart-floating
		display: block

		.rd-navbar-cart-buy
			display: none

	.rd-navbar-cart
		display: block
		position: absolute
		width: 320px
		top: 100%
		right: 0
		visibility: hidden
		opacity: 0
		@include transform(translateY(30px))
		z-index: 2

		&.active
			visibility: visible
			opacity: 1
			@include transform(translateY(0))

	.rd-navbar-cart-buy
		@extend %rd-navbar-transition
		position: relative
		display: block
		font-size: 16px
		font-weight: 500
		line-height: 56px
		text-align: center
		color: $rd-navbar-white-color
		background: $rd-navbar-accent-color-2

		&:hover
			background: lighten($rd-navbar-accent-color-2, 5%)

		&:before
			font-weight: 400
			font-size: 24px
			display: inline-block
			vertical-align: middle
			margin-right: 8px
		
.rd-navbar-fixed
	.rd-navbar-cart-wrap
		position: relative
		float: right
		margin-top: 12px
		margin-left: 20px
	
	.rd-navbar-cart-floating
		display: block

		.rd-navbar-cart-buy
			display: none

	.rd-navbar-cart
		display: block
		position: absolute
		width: 320px
		top: 100%
		right: 0
		visibility: hidden
		opacity: 0
		@include transform(translateY(30px))
		z-index: 2

		&.active
			visibility: visible
			opacity: 1
			@include transform(translateY(0))
		
	.rd-navbar-cart-buy
		@extend %rd-navbar-transition
		position: relative
		display: block
		font-size: 16px
		font-weight: 500
		line-height: 56px
		text-align: center
		color: $rd-navbar-white-color
		background: $rd-navbar-accent-color-2

		&:hover
			background: lighten($rd-navbar-accent-color-2, 5%)
		
		&:before
			font-weight: 400
			font-size: 24px
			display: inline-block
			vertical-align: middle
			margin-right: 8px

.rd-navbar-fixed .rd-navbar-cart-floating .rd-navbar-cart-toggle
	width: 48px
	height: 48px