.product-layout
	transition: .3s

.product-card
	position: relative
	margin-bottom: 30px
	padding: 4px 4px 86px
	display: block
	background-color: #fff
	border: 1px solid $lightgrey
	@media screen and (max-width: 767px)
		margin: 0 auto 15px
		width: 260px

	@media screen and (min-width: 767px)
		&:hover
			.product-card__layer
				background-color: rgba(255, 255, 255, .5)

	&:hover 
		.product-card__action
			visibility: visible
			opacity: 1

	&__img-wrapper
		padding-bottom: 100%
		margin-bottom: 20px
		display: block
		position: relative
		overflow: hidden

	&__layer
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(255, 255, 255, 0)
		transition: .3s

	&__selection
		position: absolute
		display: flex
		top: 50%
		left: 50%
		background-color: $main-color
	
	&__img
		position: absolute
		top: 0
		left: 0
		margin: 0 auto
		display: block
		width: 100%
		height: auto		

	&__name
		margin: 0 auto
		padding: 10px 0 12px
		display: block
		width: 90%
		height: 74px
		text-align: center
		text-decoration: none
		color: #666
		transition: .3s
		overflow: hidden
		&:hover
			color: $main-color

	&__price-wrapper
		text-align: center

	&__price,
	&__old-price
		padding-bottom: 20px
		display: inline-block
		font-weight: 700
		text-align: center

	&__price
		color: $red-color

	&__old-price
		text-decoration: line-through
		color: #000

	&__button
		position: absolute
		left: -1px
		right: 0
		bottom: 42px
		box-sizing: content-box
		padding: 10px 0
		display: block
		width: 100%
		font-size: .9em
		font-weight: 700
		line-height: 1.5
		text-transform: uppercase
		color: #fff
		background-color: $main-color
		border: 1px solid $main-color
		transition: .3s
		&:hover
			background-color: $main-color-mid

	&__action
		position: absolute
		bottom: 10px
		left: 50%
		z-index: 1
		height: 44px
		visibility: hidden
		opacity: 0
		transition: .3s
		transform: translate3d(-50%, -50%, 0)
		white-space: nowrap
		@media screen and (max-width: 767px)
			visibility: visible
			opacity: 1
			width: 98px
			transform: translate3d(-50%, -50%, 0)

		&-item
			padding: 10px
			display: inline-block
			line-height: .8
			background-color: $main-color
			border: none
			transition: .3s
			&:hover
				background-color: $main-color-mid

			& + .product-card__action-item
				margin-left: 2px

	&__icon
		fill: #fff

	&__rating
		position: absolute
		bottom: 0
		width: 100%
		text-align: center

	&__icon-star
		fill: #000

		&--gold
			fill: gold

	&__description
		padding-bottom: 20px
		display: none
		font-size: .9em
		line-height: 1.8
		color: #666

	&__links-wrapper
		padding-top: 20px
		display: none

	&__button-link
		display: inline-block
		font-size: .9em
		text-decoration: underline
		color: $main-color
		background-color: transparent
		border: none
		transition: .3s
		&:hover
			color: $red-color
		
		&:hover
			.product-card__button-link-icon
				fill: $red-color

		& + .product-card__button-link
			margin-left: 30px

		@media screen and (max-width: 767px)
			display: none

	&__button-link-icon
		padding-right: 4px
		padding-bottom: 2px
		display: inline-block
		width: 20px
		height: 20px
		vertical-align: middle
		transition: .3s
		fill: $main-color

	&__special
		position: absolute
		top: 4px
		left: 4px
		padding: 2px 4px 2px 6px
		font-size: .8em
		font-weight: 300
		text-transform: uppercase
		color: #fff
		background-color: $yellow

		& + .product-card__special
			top: 36px

		&:before,
		&:after
			content: ''
			position: absolute
			left: 100%
			width: 0
			height: 0

		&:before
			top: 0
			border-top: 14px solid $yellow
			border-right: 14px solid rgba(248, 201, 56, 0)

		&:after
			bottom: 0
			border-bottom: 14px solid $yellow
			border-right: 14px solid rgba(248, 201, 56, 0)

.quikview-button
	display: inline-block

.product-card__action-item:first-child
	@media screen and (max-width: 768px)
		display: none

/* Отображение товара списком */
@media screen and (min-width: 768px)
	.product-list
		padding-bottom: 0

		& .product-card
			padding: 4px 4px
			border: 1px solid #fff

		& .product-card > .product-card__img-wrapper
			display: inline-block
			width: 30%
			padding-bottom: 30%
			vertical-align: top

		& .product-card > .product-card__wrapper
			padding-left: 20px
			display: inline-block
			width: 66%
			vertical-align: top

		& .product-card > .product-card__img-wrapper > .product-card__rating
			display: none

		& .product-card > .product-card__wrapper > .product-card__description
			display: block

		& .product-card > .product-card__wrapper > .product-card__price-wrapper
			text-align: left

		& .product-card > .product-card__wrapper > .product-card__name
			width: 100%
			height: auto
			text-align: left

		& .product-card > .product-card__wrapper > .product-card__button
			position: static
			margin-bottom: 4px
			padding: 10px 20px
			width: auto

		& .product-card > .product-card__wrapper > .button.order
			position: static
			padding: 10px 20px
			width: auto

		& .product-card > .product-card__wrapper > .product-card__links-wrapper
			display: block

.product-card--one
	position: relative
	margin-bottom: 40px
	padding: 4px 4px 86px
	display: block
	background-color: #fff
	border: 1px solid $lightgrey
	@media screen and (max-width: 767px)
		margin: 0 auto 40px
		width: 260px

	&:hover 
		.product-card__layer
			background-color: rgba(255, 255, 255, .5)

	&:hover 
		.product-card__action
			visibility: visible
			opacity: 1

	&__img-wrapper
		max-width: 100%
		max-height: 100%
		padding-bottom: 20px
		display: block
		position: relative
		overflow: hidden

	&__layer
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(255, 255, 255, 0)
		transition: .3s

	&__selection
		position: absolute
		display: flex
		top: 50%
		left: 50%
		background-color: $main-color
	
	&__img
		margin: 0 auto
		display: block
		width: 100%
		height: auto

	&__name
		margin: 0 auto
		padding: 10px 0 12px
		display: block
		width: 90%
		text-align: center
		text-decoration: none
		color: #666
		transition: .3s
		&:hover
			color: $main-color

	&__price-wrapper
		text-align: center

	&__price,
	&__old-price
		padding-bottom: 20px
		display: inline-block
		font-weight: 700
		text-align: center

	&__price
		color: $red-color

	&__old-price
		text-decoration: line-through
		color: #000

	&__button
		position: absolute
		left: 0
		right: 0
		bottom: 0
		display: block
		width: 100%
		height: 38px
		font-size: .9em
		font-weight: 700
		line-height: 1.7
		text-transform: uppercase
		color: #fff
		background-color: $main-color
		border: none
		transition: .3s
		&:hover
			background-color: $main-color-mid

	&__action
		position: absolute
		top: 55%
		left: 50%
		z-index: 1
		height: 44px
		visibility: hidden
		opacity: 0
		transition: .3s
		transform: translate3d(-50%, -50%, 0)
		white-space: nowrap
		@media screen and (max-width: 767px)
			visibility: visible
			opacity: 1
			width: 98px
			transform: translate3d(-50%, -50%, 0)

		&-item
			padding: 10px
			display: inline-block
			line-height: .8
			background-color: $main-color
			border: none
			transition: .3s
			&:hover
				background-color: $main-color-mid

			& + .product-card--one__action-item
				margin-left: 2px

	&__icon
		fill: #fff

	&__rating
		position: absolute
		bottom: 20px
		width: 100%
		text-align: center

	&__star
		fill: gold

	&__description
		padding-bottom: 20px
		display: none
		font-size: .9em
		line-height: 1.8
		color: #666

	&__links-wrapper
		padding-top: 20px
		display: none

	&__button-link
		display: inline-block
		font-size: .9em
		text-decoration: underline
		color: $main-color
		background-color: transparent
		border: none
		transition: .3s
		&:hover
			color: $red-color
		
		&:hover
			.product-card--one__button-link-icon
				fill: $red-color

		& + .product-card--one__button-link
			margin-left: 30px

		@media screen and (max-width: 767px)
			display: none

	&__button-link-icon
		padding-right: 4px
		padding-bottom: 2px
		display: inline-block
		width: 20px
		height: 20px
		vertical-align: middle
		transition: .3s
		fill: $main-color

	&__special
		position: absolute
		top: 4px
		left: 4px
		padding: 2px 4px 2px 6px
		font-size: .8em
		font-weight: 300
		text-transform: uppercase
		color: #fff
		background-color: $yellow

		& + .product-card--one__special
			top: 36px

		&:before,
		&:after
			content: ''
			position: absolute
			left: 100%
			width: 0
			height: 0

		&:before
			top: 0
			border-top: 14px solid $yellow
			border-right: 14px solid rgba(248, 201, 56, 0)

		&:after
			bottom: 0
			border-bottom: 14px solid $yellow
			border-right: 14px solid rgba(248, 201, 56, 0)

.product-card--one__action-item:first-child
	@media screen and (max-width: 767px)
		display: none

.load_more:hover
	background-color: $red-color-dark

.button.order
	position: absolute
	left: -1px
	right: 0
	bottom: -1px
	box-sizing: content-box
	padding: 10px 0
	display: block
	width: 100%
	font-size: .9em
	font-weight: 700
	line-height: 1.5
	text-transform: uppercase
	color: #fff
	background-color: $red-color
	border: 1px solid $red-color
	transition: .3s
	&:hover
		background-color: $red-color-dark