include ../icon/icon

mixin product-card(mult, single, oneCard)
	if(mult)
		.product-layout.product-grid.col-lg-4.col-md-4.col-sm-4.col-xs-12
			+b.product-card
				+e().img-wrapper
					+e('img').img(src='/assets/images/homeshisha-gjel-kalyan-1000x1000.jpg' alt='')
					+e.layer
					+e.action
						+e('button').action-item(class='quikview-button' title='Быстрый просмотр')
							+icon('zoom', '__icon', 24, 24)
						+e('button').action-item(title='В закладки')
							+icon('like', '__icon', 24, 24)
						+e('button').action-item(title='Сравнение')
							+icon('compare', '__icon', 24, 24)
					+e.rating
						+e('span').star
							+icon('star', '__icon-star', 16, 16)
						+e('span').star
							+icon('star', '__icon-star', 16, 16)
						+e('span').star
							+icon('star', '__icon-star', 16, 16)
						+e('span').star
							+icon('star', '__icon-star', 16, 16)
						+e('span').star
							+icon('star', '__icon-star', 16, 16)
					+e('p').special Распродажа!
					+e('p').special Новинка!
				+e.wrapper
					+e('a').name(href='#') Кальян Sharp Tiffany 63 см.
					+e('p').description We are so passionate about tennis! Each employee from our store plays this awesome game and we do believe that there is nothing better than selling.
					+e.price-wrapper
						+e('p').old-price 2000р
						+e('p').price 1200р
					+e('button').button Купить
					+e.links-wrapper
						+e('button').button-link
							+icon('like', '__button-link-icon', 16, 16)
							|В закладки
						+e('button').button-link
							+icon('compare', '__button-link-icon', 16, 16)
							|Сравнение
	if(single)
		.product-layout
			+b.product-card
				+e.img-wrapper
					+e('img').img(src='/assets/images/homeshisha-gjel-kalyan-1000x1000.jpg' alt='')
					+e.layer
					+e.action
						+e('button').action-item(class='quikview-button' title='Быстрый просмотр')
							+icon('zoom', '__icon', 24, 24)
						+e('button').action-item(title='В закладки')
							+icon('like', '__icon', 24, 24)
						+e('button').action-item(title='Сравнение')
							+icon('compare', '__icon', 24, 24)
					+e.rating
						+e('span').star
							+icon('star', '__star', 16, 16)
						+e('span').star
							+icon('star', '__star', 16, 16)
						+e('span').star
							+icon('star', '__star', 16, 16)
						+e('span').star
							+icon('star', '__star', 16, 16)
						+e('span').star
							+icon('star', '__star', 16, 16)
					+e('p').special Распродажа!
					+e('p').special Новинка!
				+e.wrapper
					+e('a').name(href='#') Кальян Sharp Tiffany 63 см.
					+e('p').description We are so passionate about tennis! Each employee from our store plays this awesome game and we do believe that there is nothing better than selling.
					+e.price-wrapper
						+e('p').old-price 2000р
						+e('p').price 1200р
					+e('button').button Купить
					+e.links-wrapper
						+e('button').button-link
							+icon('like', '__button-link-icon', 16, 16)
							|В закладки
						+e('button').button-link
							+icon('compare', '__button-link-icon', 16, 16)
							|Сравнение
	if(oneCard)
		+b.product-card--one
			.product-card__img-wrapper
				img.product-card__img(src='/assets/images/homeshisha-gjel-kalyan-1000x1000.jpg' alt='')
				.product-card__layer
				.product-card__action
					button.product-card__action-item(class='quikview-button' title='Быстрый просмотр')
						+icon('zoom', '__icon', 24, 24)
					button.product-card__action-item(title='В закладки')
						+icon('like', '__icon', 24, 24)
					button.product-card__action-item(title='Сравнение')
						+icon('compare', '__icon', 24, 24)
				.product-card__rating
					span.product-card__star
						+icon('star', '__star', 16, 16)
					span.product-card__star
						+icon('star', '__star', 16, 16)
					span.product-card__star
						+icon('star', '__star', 16, 16)
					span.product-card__star
						+icon('star', '__star', 16, 16)
					span.product-card__star
						+icon('star', '__star', 16, 16)
				p.product-card__special Распродажа!
				p.product-card__special Новинка!
			.product-card__wrapper
				a.product-card__name(href='#') Кальян Sharp Tiffany 63 см.
				.product-card__price-wrapper
					p.product-card__old-price 2000р
					p.product-card__price 1200р
				button.product-card__button Купить
				.product-card__links-wrapper
					button.product-card__button-link
						+icon('like', '__button-link-icon', 16, 16)
						|В закладки
					button.product-card__button-link
						+icon('compare', '__button-link-icon', 16, 16)
						|Сравнение
		block

//-if(oneCard)
	+b.product-card--one
		+e.img-wrapper
			+e('img').img(src='/assets/images/homeshisha-gjel-kalyan-1000x1000.jpg' alt='')
			+e.layer
			+e.action
				+e('button').action-item(class='quikview-button' title='Быстрый просмотр')
					+icon('zoom', '__icon', 24, 24)
				+e('button').action-item(title='В закладки')
					+icon('like', '__icon', 24, 24)
				+e('button').action-item(title='Сравнение')
					+icon('compare', '__icon', 24, 24)
			+e.rating
				+e('span').star
					+icon('star', '__star', 16, 16)
				+e('span').star
					+icon('star', '__star', 16, 16)
				+e('span').star
					+icon('star', '__star', 16, 16)
				+e('span').star
					+icon('star', '__star', 16, 16)
				+e('span').star
					+icon('star', '__star', 16, 16)
			+e('p').special Распродажа!
			+e('p').special Новинка!
		+e.wrapper
			+e('a').name(href='#') Кальян Sharp Tiffany 63 см.
			+e.price-wrapper
				+e('p').old-price 2000р
				+e('p').price 1200р
			+e('button').button Купить
			+e.links-wrapper
				+e('button').button-link
					+icon('like', '__button-link-icon', 16, 16)
					|В закладки
				+e('button').button-link
					+icon('compare', '__button-link-icon', 16, 16)
					|Сравнение